[2018-03-18 13:12] torosent opened #3 "Implement Event Processor Host pattern"
Implement Event Processor Host pattern like in the previous Python SDK
https://github.com/Azure/azure-event-hubs-python/tree/develop/eventprocessorhost

[2018-03-19 14:17] annatisch commented on #3
The Event Processor Host and Event Hubs SDK are currently being updated to rely on uAMQP.
The ongoing work is being done here:
https://github.com/annatisch/azure-event-hubs-python/tree/uamqp

[2018-04-20 18:28] annatisch commented on #3
First preview release of the new azure-eventhub SDK with EPH is now published:
https://github.com/Azure/azure-event-hubs-python/tree/develop
https://pypi.org/project/azure-eventhub/

[2018-04-20 18:28] #3 closed

[2018-04-27 16:26] digimaun opened #10 "Preferred way to handle amqp link redirects"
What is the preferred pattern/mechanism to follow amqp redirect links? For example in the case when the IoT Hub redirects to its event hub endpoint.

[2018-04-27 20:31] annatisch opened #11 "Missing import in async receiver"
Need to import `errors` here:
https://github.com/Azure/azure-uamqp-python/blob/master/uamqp/async/receiver_async.py#L11

[2018-04-27 20:46] annatisch opened #12 "Receiver stops when concurrent receiver times out"
Concurrent receivers sharing a connection stop receiving when one of the group times-out due to inactivity.
This is due to the underlying session being shutdown as the closed link endpoint is detected as an error.
Tracking the issue here:
https://github.com/Azure/azure-uamqp-c/issues/228

[2018-05-09 18:07] annatisch commented on #10
I've opened an issue in the C library to discuss. The changes required to this library will depend on how we approach the issue in the C library. Stay tuned :)

https://github.com/Azure/azure-uamqp-c/issues/231

[2018-05-16 00:45] digimaun opened #14 "Best way to capture output from link detach"
I have a need to capture output from the detach frame. This is related to issue #10 (since they both output on detach), but this is primarily for reporting a clean message to the user. What's the best way to do this?

Here is an example debug log:

uamqp.sender : Message sender state changed from MessageSenderState.Opening to MessageSenderState.Error
uamqp.c_uamqp : b'<- [DETACH]* {0,true,* {amqp:

[2018-05-21 19:34] digimaun opened #15 "Support for ARM based releases (such as for Raspberry PI)"
We have user requests for pre-built ARM based releases (like for armv7l) to support straight-forward uamqp usage on devices like Raspberry PI's.

[2018-05-29 17:55] annatisch commented on #11
Released fix in RC1

[2018-05-29 17:55] #11 closed

[2018-06-21 13:25] zach-b opened #17 "Sending fails if an application property's value is a string of length 1"
If one of the application properties' value is a string of length 1 (as an example, "t"), the application is unable to send (for both the async and sync senders).

## Error message:
Message error, 3 retries exhausted (an integer is required)
uamqp.errors.MessageSendFailed: Failed to send message.

## Code to reproduce: (slight modification of the repository samples)
    application_properties={"te

[2018-06-29 20:00] annatisch commented on #17
Thanks @zach-b!
I will take a look at this today :)

[2018-07-02 23:13] annatisch commented on #17
This is now fixed in rc2.

[2018-07-02 23:13] #17 closed

[2018-07-02 23:17] annatisch commented on #14
As of release RC2, DETACH frames are now captured and should raise an exception: `uamqp.errors.LinkDetach`.

The `amqp:not-allowed` is the DETACH condition, the rest is the description. The remaining data (e.g. tracking ID) is likely found in the `info` dictionary.
All these fields can be found on the [LinkDetach exception](https://github.com/Azure/azure-uamqp-python/blob/master/uamqp/errors.py#L2

[2018-07-02 23:19] annatisch commented on #10
Thanks @digimaun - Link redirects are now supported.
See the IotHub test here for a sample:
- Receive: [samples/test_azure_iothub_receive.py](https://github.com/Azure/azure-uamqp-python/blob/master/samples/test_azure_iothub_receive.py)
- Receive async: [samples/test_azure_iothub_receive_async.py](https://github.com/Azure/azure-uamqp-python/blob/master/samples/test_azure_iothub_receive_async.py)

[2018-07-02 23:19] #10 closed

[2018-07-03 19:05] annatisch commented on #14
I'm going to re-open this as some DETACH frames are still being lost due to premature disconnect.
I'm tracking the issue here:
https://github.com/Azure/azure-uamqp-c/issues/247

[2018-07-06 17:56] annatisch opened #21 "Python 2.7 support (super() argument 1 must be type, not classobj)"
Currently if installation is attempted on Python 2.7, the following error is given (this should be improved):
[code]

[2018-07-06 20:08] tmurias opened #22 "Fails in Python 3.4 and older due to circular dependency between types.py and utils.py"
The lines `from uamqp import types` in utils.py and `from uamqp import utils` in types.py are causing a circular dependency that doesn't work in Python 3.4 (but seems to be okay in 3.5 and 3.6). It appears this can be fixed by changing the lines to `import types` and `import utils`, although I'm not sure if that fix will still work in 3.5 and 3.6.

[2018-07-09 13:53] annatisch commented on #22
Thanks @tmurias - I will investigate :)

[2018-07-09 14:43] zach-b opened #24 "Error: Couldn't get 'time_to_live'"
After updating from 0.1.0.rc1 to 0.1.0 I get the following error when receiving any message from the azure service bus

When commenting line 958 (`self.time_to_live = header.time_to_live`) of uamqp/message.py the error disappears, it seems that there is a problem with the code loading the time_to_live from the header (no default value or something?)

[2018-07-09 15:36] annatisch commented on #22
I have removed the dependency of types from utils so it's working now - I will try to publish a new release this week.

I will also add Python 3.4 to the CI so that we can avoid this in future.
Thanks for the report! :)

I will close once the new release is published.

[2018-07-09 15:37] annatisch commented on #24
Good catch - I will take a look! Thanks for the report :)

[2018-07-09 17:57] annatisch opened #25 "Add support for HTTP proxy settings"

[2018-07-09 18:14] annatisch commented on #24
Hi @zach-b - I've just run some tests against a ServiceBus queue and I'm not seeing this error.
What kind of SB entity are you receiving from? What is the message ttl for this entity configured to?

It's likely that we're raising a ValueError instead of just returning None when the header doesn't have the ttl value set - though I'm unsure why SB wouldn't be setting this value on the header.

[2018-07-10 10:14] zach-b commented on #24
Hi annatisch, I checked the ttl and turns out I left it to the default when creating a queue through the REST interface, which is actually huge (see https://docs.microsoft.com/en-us/rest/api/servicebus/queues/createorupdate): a bit more than 10675199 days.
Setting it to a more reasonable value made the bug go away.

It seems that the bug occurs when the ttl is too high

[2018-07-13 20:03] digimaun opened #26 "non deterministic error with in uamqp 0.1.0"
Unfortunately I am running into stability issues/errors when receiving messages from a batch publish (more than 1 message at a time). This issue happens periodically on a batch send - it may happen on single message too (but haven't investigated this scenario).

I'd like to note I have not seen this happen with 0.1.0rc1 (most recent version I've integrated).

Here is the typical behavior I see. Af

[2018-07-13 20:21] annatisch commented on #26
Thanks @digimaun!
Is it likely related to this issue?
https://github.com/Azure/azure-event-hubs-python/issues/42

You can determine whether this is the cause be commenting out the lines for application properties as mentioned in my last post in the thread.
If that is the cause, then I will have a fix posted by Monday :)

[2018-07-13 20:51] digimaun commented on #26
Thank you for the fast response. Yup that was it :smiley: , though with commenting I don't have my app props anymore but I'm unblocked. Sounds good on Monday for the fix! :sparkles:

[2018-07-13 21:13] annatisch commented on #26
One question though - sending batched messages doesn't yet support application properties, even in RC1:
https://github.com/Azure/azure-uamqp-python/blob/v0.1.0rc1/uamqp/message.py#L293

The reason for this is that when multiple messages are embedded into a single message - they can all share a single "properties" section and "header" section, but application properties are supposed to apply indivi

[2018-07-13 21:46] digimaun commented on #26
Ah to clarify, I am actually not using uamqp for sending messages, this is work on a device-to-cloud IoT scenario sending batched messages via MQTT where IoT Hub manages the event hub interaction. The batching is really a sequence of messages sent to a particular topic - rather than multiple messages embedded in a single message. uamqp is used on the receiving side.

[2018-07-13 21:48] annatisch commented on #26
Gotcha! Thanks for the clarification :)

[2018-08-16 21:44] digimaun opened #30 "deallocation issues with async connection + client"
I have experienced this issue with the latest uamqp v0.2.1 and below (but earlier versions may have manifested slightly differently).

Every so often I run into one of two issues when trying to gracefully close out uamqp receivers + connection. This happens specifically with async components.

The first is a deadlock (freeze behavior) in the process when trying to shut down a connection (in this c

[2018-08-17 20:54] annatisch commented on #30
Thanks @digimaun!
With regards to the 2nd issue - I *think* these are caused by canceled futures (like you, I tried to patch sys.excepthook to get details and was left empty-handed...).

I found I can improve the output using some logic like this to clean up the canceled futures:
[code]

Interesting regarding the hanging - do you think this is most reliably reproduced using a Ctrl+C shutdown?

[2018-08-17 21:13] annatisch commented on #30
While not yet a bug fix - I am about to publish some updates that include a lot more logging - which may narrow down where things are going wrong.
https://github.com/Azure/azure-uamqp-python/pull/31

If it's hanging, it could be a locking issue... usually if it's a binding issue it will just crash.

[2018-08-17 22:07] digimaun commented on #30
Appreciate all your comments @annatisch. I will definitely try the new client when you release it. About the Ctrl+C question...yes I do think it is significantly easier/more reliable to reproduce in this manner. I do not recall too many issues like this from the timeout triggering (not confident it wont ever happen though).

[2018-08-22 18:16] annatisch commented on #30
Thanks @digimaun - new release is now published with the extra logging. If you could run it again when you can and show me the updated debug logs that would be great :)

[2018-08-24 07:16] Cicicok opened #32 "Wrong timeout description"
___init__.py,_ methods: _receive_messages, receive_message_ you can find this text:

But it's actualy in millisecond as written in the _class ReceiveClient(AMQPClient)_ documentation from which are those methods created.

[2018-08-24 13:21] jruere opened #33 "Sample sample_uamqp_receive_simple.py has undefined variable "hostname""
$SUBJECT.

[2018-08-24 16:15] annatisch commented on #32
Aaaah you are very correct - well spotted! I will update ASAP :)

[2018-08-24 16:38] annatisch commented on #32
I'm pushed the update to master - which means it should get picked up for the docs generation and will be in published library itself in the next release (probably a few weeks away unless an urgent bug pops up).

Thanks again for the report!

[2018-08-24 16:38] #32 closed

[2018-08-24 16:39] annatisch commented on #33
Thanks for the report!
I forgot to update these samples as they don't run in my test suite....

I've updated both the simple receive script and the simple send script as well so that it matches.

Thanks!

[2018-08-24 16:39] #33 closed

[2018-08-24 22:26] digimaun commented on #30
Using powershell, I ran the process a couple dozen times with 1.0.0, and tried to capture the 'distinct' error modes. Tried some variation in kicking off event monitoring as a task vs a plain future but did not see a significant difference. Also for all these tests there is data actively being sent throughout (via device simulators).

The hanging/freeze behavior happens a lot more overall and is m

[2018-08-24 22:28] annatisch commented on #30
Thanks @digimaun - this is great info! I will start digging in next week :)

[2018-08-24 22:30] annatisch commented on #30
One question - these lines appear to be unrelated and I assume are from your test?
[code]

[2018-08-24 22:33] annatisch commented on #30
Another question - Error no. 3 seems odd in that I can see no shutting down of the connection in the logs - is this scenario different in some way? Or would you expect the connection to be closing in there somewhere?

[2018-08-24 22:35] digimaun commented on #30
Great tyvm. Yes you are totally right about those unrelated elements...but we do get there with no failures.

[2018-08-24 22:41] digimaun commented on #30
Yah, scenario 3 is not different in anyway...all of these were run the same way. I would also expect the connection to be closing and maybe that is the reason for the underlying future(s) exception.

For reference here is the [current implementation (master)](https://github.com/Azure/azure-iot-cli-extension/blob/master/azext_iot/operations/events3/_events.py#L29) have slightly altered things in th

[2018-08-24 22:50] annatisch commented on #30
Great thanks for the details - I will isolate your executor code into a test next week and see what I can find :)

[2018-08-24 22:51] digimaun commented on #30
Thanks @annatisch!

[2018-08-27 20:38] annatisch commented on #30
So it seems that all 3 of these are caused by the same issue - proper handling of the KeyboardInterrupt.
And the varying presentation depends on where exactly the event loop is at the moment of interrupt.
And it's kinda tricky to catch, because the code can be interrupted *anywhere*.

For example - in this function here:
[connection_async.work_async( )](https://github.com/Azure/azure-uamqp-python/

[2018-08-28 17:55] mi-dst opened #35 "Not able to send message after using subject in MessageProperties"
First of all I want to state that I am rather new to AMQP, so I may have misunderstood something here and if so, sorry...

I was expecting to be able to set the subject of a message to be sent, however when I try to send it I get a:

I see the same error if it try to use the get_properties_obj() function, which leads me to believe the following is a shortcut to reproduce my problem:

props.get_pro

[2018-08-28 21:09] annatisch commented on #30
Hmkay - I've made a discovery - you can hide the `Error in sys.excepthook` rubbish by changing this line here:
https://github.com/Azure/azure-iot-cli-extension/blob/dev/azext_iot/operations/events3/_events.py#L111
to:
`results = await asyncio.gather(*coroutines, return_exceptions=True)`

Then you can chose to act on the results array as you see fit - though it's worth noting that this array will o

[2018-08-29 17:04] annatisch commented on #35
Thanks for the report @mi-dst!

You're right - this does appear to be a bug - as we are converting the subject property into an AMQP encoded object when it should be a string/bytes.

I will get a patch out asap :)

Thanks again!

[2018-08-29 17:43] digimaun commented on #30
Great progress so far and thank you for keeping the thread updated. Good idea on how to quiet the sys.excepthook rubbish - will add that. The `return_exceptions=True` is also used for the parent future...I had assumed it would have also implicitly applied to spawned futures (as in the child exceptions would be captured/aggregated in the parent future result).

[2018-08-29 17:48] annatisch commented on #30
Yes I would have made the same assumption - and perhaps it does but the KeyboardInterrupt/asyncio.Cancelled seems to have some wonky side-effects.

I'm going to publish a new release either today or tomorrow that I would say addresses 90% of hanging scenarios. In some cases you have to hit Ctrl+C more than once simply depending on what line of code the loop was on at the time of interrupt.

I do s

[2018-08-29 18:48] annatisch commented on #30
On another note I have started adding your 3 uamqp-based command scenarios as tests:
https://github.com/annatisch/azure-uamqp-python/blob/debug/samples/test_azure_iothub_cli_extension.py

Feel free to PR any updates or changes to this as needed.

[2018-08-29 20:14] digimaun commented on #30
Does it make sense to reference the uamqp-based code (in whatever preferred manner) rather than in the current form where say I had to make some changes, but now I'd need to update multiple repos with the changes?

[2018-08-29 20:40] digimaun commented on #30
That's fair. I am OK with this plan as a stop gap.

[2018-08-30 07:01] mi-dst commented on #35
Ah, yes. I am not using get_properties_obj() normally. I just tried to make the problem as easy to reproduce as possible for you, but thanks for looking out for me :)

I will keep my eyes peeled for the patch.

Thanks for your quick feedback!

[2018-08-30 18:34] annatisch commented on #35
Thanks for your patience @mi-dst - v1.0.1 is now released with a fix. :)

[2018-08-30 18:35] annatisch commented on #30
Incremental v1.0.1 patch release now published that addresses some of the causes behind this.

[2018-08-30 21:05] annatisch commented on #15
Piwheels are already making builds for uamqp for Raspbian for Python 3.4 and 3.5:
https://www.piwheels.org/
https://www.piwheels.org/simple/uamqp/

However these packages require OpenSSL to be installed. In my tests OpenSSL seems to already be present by default. Though my tests so far have only been on docker containers rather than a real Raspberry Pi.

If your setup doesn't already have OpenSSL,

[2018-08-31 07:41] mi-dst commented on #35
Thanks for the quick update. However I am sad to report that I still cannot seem to get the subject-property working. I do get a different error with 1.0.1 though.

When sending a message I now get:

Again I believe the quickest way to test it is:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\uamqp-test\.pyenv\lib\site-packages\uamqp\message.py", line 752, in

[2018-08-31 14:17] annatisch commented on #35
That's strange - I wonder why [my test](https://github.com/Azure/azure-uamqp-python/blob/master/samples/test_azure_event_hubs_send.py#L49) didn't catch that...
Doh... okay - another patch on it's way....

[2018-09-01 00:05] digimaun opened #38 "reported performance issues"
Context of this issue is using monitor-events via IoT extension.

We have some user reports that are experiencing very high CPU usage spikes (up to 100%)  - in this case when no messages are being received. The current implementation uses the ReceiveClientAsync.receive_messages_iter_async to poll messages.

I will add more details to this thread as I receive them (like verifying uAMQP version).

T

[2018-09-01 14:35] annatisch commented on #35
I'm hoping to include this patch with a couple of other small fixes - release should be out sometime this coming week. Thanks again for your patience :)

[2018-09-03 06:38] mi-dst commented on #35
Sounds great! Thanks for the feedback!

[2018-09-04 19:41] annatisch commented on #38
Thanks @digimaun - I think this probably sums it up:
"in this case when no messages are being received"

In the case where no events are being received currently we just continuously work the connection in a loop without any kind of sleep. If messages are being received then this breaks up the workload - otherwise the Python process is just going 100% and will use up as much resources as that proc

[2018-09-10 13:54] annatisch commented on #35
Okay - this should now *actually* be resolved in 1.0.2 :)
I actually found some issues in setting a couple of the other message properties as well so a good find!
Sorry it took so long - one of the other changes I wanted to add to this release was giving me headaches.

[2018-09-10 13:54] #35 closed

[2018-09-10 13:56] annatisch commented on #30
Made some further progress here by eliminating a redundant async lock from authentication in release 1.0.2. Still some hanging scenarios though, so still a few steps to go :)

[2018-09-10 14:00] mi-dst commented on #35
Unfortunately I will have to restrain myself from testing this for a couple of days as I have other pressing matters to handle. I will get there soon though! :)

Thanks again for your help!

[2018-09-14 13:41] annatisch commented on #38
CPU use on idle receive (i.e. no message throughput) and slow receive (low message throughput) should now be at reasonable levels with release 1.0.3.

CPU will remain quite high with high message throughput, as we prioritize message throughput performance over CPU consumption. In this scenario I would recommend using an external tool to limit the resources available to the process if there's a sce

[2018-09-14 13:41] #38 closed

[2018-09-14 19:07] annatisch commented on #21
Made some good progress here.
Here are some test builds for anyone wish to give it a try - I would appreciate any feedback and bug reports.

Haven't managed to get a Windows build running yet, but if anyone is keen to try the code is here:
https://github.com/annatisch/azure-uamqp-python/tree/py27

[uamqp-1.1.0a1-cp27-cp27.zip](https://github.com/Azure/azure-uamqp-python/files/2384595/uamqp-1.1.0a1

[2018-09-24 17:50] annatisch commented on #21
Phew - finally got windows builds working (FWIW - the only way I was able to get this running was to install an old Professional verison of Visual Studio 2008).

Test builds attached.
[uamqp-1.1.0a1-cp27-cp27m-win.zip](https://github.com/Azure/azure-uamqp-python/files/2412212/uamqp-1.1.0a1-cp27-cp27m-win.zip)

FYI @digimaun

[2018-09-26 17:40] annatisch opened #43 "Support for websockets"
Required for Azure Event Hub SDK as documented in [issue #67](https://github.com/Azure/azure-event-hubs-python/issues/67).

[2018-09-26 21:46] gdooper commented on #21
I have some interest in having this library (and azure-eventhub) python 2.7 compatible. So I decided to test these initial builds.

I haven't gone too deep yet, but 32bit windows build installed, and I could `import uamqp` in the python interpreter. The 64bit linux build installed fine too, but if I try to `import uamqp` in the 64bit linux interpreter, I get the following error message:

[code]

I

[2018-09-26 21:52] annatisch commented on #21
Thank you @gdooper for testing out these builds! :)
I will try to repro today

[2018-09-26 22:52] annatisch commented on #21
Hi @gdooper - I was able to repro this on the build I attached above.
However went I built a fresh wheel from my latest code it seems to work.

I intend to publish a release candidate tomorrow

[2018-09-27 16:08] gdooper commented on #21
It seems like the issue was that the `cp27-cp27mu` wheel was built with leftover intermediate 'build' files from the `cp27-cp27m` build. Deleting the 'build' folder between builds seems to resolve this issue.

https://github.com/annatisch/azure-uamqp-python/pull/2 should help.

[2018-09-27 16:14] annatisch commented on #21
oooooo! This is a great observation - thank you @gdooper! :)
I will amend my build script.

[2018-09-27 17:42] gdooper commented on #21
Your welcome!

I think there are some manylinux wheels that aren't usable still. It seems like all of the 32bit wheels fail when you try to `import uamqp` after installing the wheel. Also the 64bit py34 manylinux wheel also fails when you try to `import uamqp`.

How am I testing?
1. Generate the docker images
[code]
2. Build the wheels
[code]
3. Save this script somewhere (e.g. test_many_linux.sh)

[2018-09-27 17:43] gdooper commented on #21
It's probably also worth testing the wheels on other platforms as well (eg. arm and osx)

[2018-09-27 17:50] annatisch commented on #21
Thanks @gdooper!
I'm running your test script now.

I already have a test VM I use to run on the OSX wheels - so will give that go too.
Unfortunately I haven't been able to properly support wheels for ARM yet.... can't quite get the build working end-to-end....

[2018-09-27 23:07] annatisch commented on #21
Hi @gdooper - I just did some tests and it seems to be related to Cython.

I updated the Cython build version 0.28.5, and I added the test script into the build_many_linux.sh script and now it all seems to be running cleanly for both 64 and 32bit Linux :)

[2018-09-28 15:57] annatisch commented on #21
The first Python 2.7 pre-release is now published!
You can install with:
[code]

All feedback welcome!! :)

[2018-10-05 20:52] grs opened #44 "Appears to emit no valid protocol header?"
I have been trying to run a simple example client against various different AMQP servers from the Apache Software Foundation (Apache ActivemMQ Artemis, Apache Qpid Dispatch Router and Apache c++ broker aka qpidd).

In all cases I am unable to connect. My test client is as follows:

[code]

Viewing the interaction with wireshark, it appears that the client does not emit a valid AMQP protocol header

[2018-10-05 20:59] annatisch commented on #44
Thanks @grs for these details!!
I will try to repro :)

The only thing I can answer off the top of my head is the 100% CPU use - I generally assume that establishing the connection and authentication will a be quick process and therefore I made no effort to slow down iterating the connection as much as possible during this process.

Clearly this assumption is invalid in circumstances where:
- The

[2018-11-13 22:17] annatisch commented on #21
Python 2.7 support released in 1.1.0 :)

[2018-11-13 22:17] #21 closed

[2018-11-16 13:52] fjcrabiffosse opened #50 "X.509 Client Authentication"
I have been trying (unsuccessfully) to build a client that uses TLS client authentication via X.509 certificates. After digging around the code I think that right now only server authentication via X.509 is possible and client authentication is restricted to SASL. Is that the case or am I missing something?

Could this feature be considered for a future release?

Thanks!

[2018-11-16 16:53] annatisch commented on #50
Thanks @fjcrabiffosse!
Yes you are correct - client auth is currently restricted to SASL.

I have to do some digging in the TLS layer soon for the addition of websocket support so while I'm down there I will take a look at how much work this would be.

Thanks for the report!

[2018-11-28 15:31] annatisch opened #51 "Wheel support for Alpine"

[2018-12-04 08:36] hbsis-fernandomedeiros opened #52 "Connection in an unexpected error state with Solace Broker"
Hi there,

I've been trying to use uAMQP for Python with a Solace Standard broker running in a local container - Nothing too complex, just the samples provided in this repository. No success so far, although I have a topic and queue set up. I rose the logging level to DEBUG, and it seems to be some issue related to DETACH frame in link protocol - but I'm out of ideas... any idea what could it poss

[2018-12-06 16:49] annatisch commented on #52
Hi @hbsis-fernandomedeiros - sorry for the delay in getting back to you!
It looks like the Connection is not even getting to the point of sending the AMQP header.
Could I possibly see a code snippet? This would only need to show how you are initializing the authentication and the client, what kind of auth/endpoint settings you're using etc (please make sure to remove any sensitive info - but it wo

[2018-12-06 17:01] hbsis-fernandomedeiros commented on #52
Hi there @annatisch how have you been?

I should have been clearer in my post, sorry about that. Here are the steps to reproduce:

I'm running Docker version 18.09.0 on Windows 10 Pro.

**1)** On my local Docker, run an instance of the following docker image: https://hub.docker.com/r/solace/solace-pubsub-standard/ - remember to use **-p 5672:5672** to bind and expose the AMQP port. More info on ru

[2018-12-06 17:08] annatisch commented on #52
Perfect! Thanks @hbsis-fernandomedeiros so much for these repro steps. I will take a shot at this over the weekend. As for me - super busy as per usual. Thanks for asking! ;)

One thing that does occur to me - you could try passing in the port that you're using into the auth config:
[code]

[2018-12-06 17:42] hbsis-fernandomedeiros commented on #52
Just tried that a couple combinations:
[code]

Same messages for all of them.

[2018-12-06 17:43] annatisch commented on #52
Thanks for the update! Will take a look :)

[2018-12-07 17:23] zach-b opened #53 "Async send stuck"
I am using the client to send messages to the azure service bus. I noticed that some messages were never delivered.

The SendClientAsync.send_message_async method is stuck in the loop
[code]

The message is in the state <MessageState.WaitingToBeSent: 0> and is not in self._pending_messages, so I am thinking that it might have never been added to the list due to some concurrency issue ?

[2018-12-07 17:35] annatisch commented on #53
Thanks @zach-b!
Interesting that you're not seeing the message in _pending_messages - could I please see a code snippet that you're using to send?

A couple of additional questions:
- Which OS and Python version are running on?
- How much data is in the message that is hanging?

We have a current issue in Event Hubs for messages with content greater than ~128kb getting stuck which may be related:

[2018-12-07 17:55] zach-b commented on #53
Thanks for your answer

The message is sent using the following method
[code]
The OS is Debian 8, I did not check the content of the messages yet, I'll make sure to do it if the bug occurs again tonight (or else on monday), but the messages should be rather small with a few headers and no body. I'll try to isolate and reproduce the bug on monday

[2018-12-10 18:15] zach-b commented on #53
So I investigated a bit further. and the content of the messages is indeed as described above (nothing out of the ordinary...).
I was not able to reproduce the bug on a simple case for the moment, my guess is that it is due to concurrency issue with the pending messages list, but I cannot know for sure. I'll try again in the following days

[2018-12-10 18:23] annatisch commented on #53
Thanks for the follow-up @zach-b - yes I agree that seems to be the likely cause. Especially given that it's so intermittent. I will investigate.

[2018-12-11 13:46] zach-b commented on #53
I tried adding a lock to the async methods modyfing the pending messages list, I'm letting it run for some time to see if any message still gets stuck (it usually happened a few times per hour). I'll make a PR if it's successful

[2018-12-11 15:52] annatisch commented on #53
Oh you're a legend! Thank you so much for your continued investigations! I look forward to hearing how it goes :)

[2018-12-11 16:11] zach-b commented on #53
Haha no problem it's really a minor modification.The bug seems to be gone now. I guess the issue was occuring when adding a message while the coroutine `self._filter_pending_async()` was running.

I'm opening the PR so you can check the changes, thanks for your quick answers !

[2018-12-14 10:25] Eossu opened #55 "Not able to reconnect after Link Detach seems to end up in a loop"
So we are using the Python Eventhub library and after a while the uamqp gets an error as seen in the logs.
When this happens the process take full CPU, this is running in a AKS cluster and is given 1000m and it uses all while it is stuck.

The logging that says Testing: One Cycle Completed is just to see when we run one cycle in our while loop.

Have any idea on if it is the C code that get stuck

[2018-12-14 16:41] annatisch commented on #55
Thanks @Eossu for the report!
I think I know why the CPU is getting maxed out - but that doesn't explain why the auth is failing.

Does authentication always fail or is this something intermittent?
Are you able to provide a code snippet that shows how you're interacting with the EventHub library?
And lastly - are you able to provide the versions of both the EventHub and uAMQP libraries that you're

[2018-12-14 17:47] Eossu commented on #55
@annatisch what i can see is that approx. every 1h there is a token refresh. All tough at approx. every 24h this happens most days, tough once it ran for 3 days before it happend. Sometimes we did not get that Link detach in the log that i got now, it just got stuck with maxed out CPU. The reason the one cycle completed was logged.

The code is very simple for now. Async reciver is not in use or t

[2019-01-03 09:36] silencev opened #56 "Support Message grouping(sessionful)?"
I'm using uamqp to connect with Azure Service Bus (enable session) and get following error:

[code]
How can I receive the message with `SessionId`?

Thanks!

[2019-01-03 16:12] annatisch commented on #56
Hi @silencev!
This needs to be done with a source filter. This should do the trick:
[code]

Let me know how it goes :)

[2019-01-03 18:17] annatisch commented on #56
Hi @silencev,
Do you get the same error when using CBS auth?
[code]

[2019-01-04 01:51] silencev commented on #56
hi @annatisch

thanks again!

after couple hours, I use CBS auth and enable logging.
I found it doesn't return any messages from service bus.

blocking in for 60 seconds (I give it a timeout value)
[code]

[code]

the portal shows it has 4 messages there:
![general_settings_-_microsoft_azure](https://user-images.githubusercontent.com/24366323/50670331-e25ae780-1005-11e9-9d24-d4c7757d5978.png)

[2019-01-04 02:07] silencev commented on #56
my bad, I misunderstand the API
it now works after small modification:

set the None in first argument

[code]

[2019-01-08 03:20] #56 closed

[2019-01-23 21:22] dvincentwest commented on #43
would love to see this feature implemented as I have the same issue as mention in [issue #67](https://github.com/Azure/azure-event-hubs-python/issues/67)

Is there anything close at this point or still far off?  I can volunteer to help implement with some guidance

[2019-03-03 19:36] fatal10110 opened #57 "Scheduled enqueue using annotations on Azure SB"
Hey, Im trying to schedule a message enqueue on service bus, here is the sample code:

[code]

Theoretically, it should work, but in ServiceBus Explorer the line that show "ScheduledEnqueueTimeUTC" is empty. Am I doing something wrong? Thanks!

[2019-03-03 19:50] fatal10110 commented on #57
closing, found that it should get datetime object.

[2019-03-03 19:50] #57 closed

[2019-03-27 14:05] annatisch opened #63 "Incorrect datetime object parsing"
As reported in SO issue:
https://stackoverflow.com/questions/55357199/mktime-argument-out-of-range

Should involve a fix consistent with the [fix added to Azure Event Hubs SDK].(https://github.com/Azure/azure-event-hubs-python/commit/921713912535e17b96415d2cc8d1d860ec4e1b20#diff-de6f22cf2e3813e99d9e8278d3750492).

[2019-04-01 13:47] glaubitz opened #65 "Build fails due to warnings turned into errors by passing -Werror"
The build currently fails with gcc-8 on openSUSE Tumbleweed with:

[code]

This is because multiple cmake files pass ```-Werror``` to the compiler:

[code]

At the time, gcc generates warnings for the code. Thus, in order to fix this, either drop ```-Werror``` from the C/CXXFLAGS or fix the warnings.

[2019-04-01 14:39] glaubitz opened #66 "Multiple text files have the executable bits set"
Multiple files contained in the source tree have their executable bits set which triggers warnings when building an RPM package:

[code]

and

[code]

To fix this, just unset the executable bits using ```chmod ugo-x $FILES```. Luckily, ```git``` is able to track file permissions.

[2019-04-02 16:50] mrkarMSFT opened #67 "Add tracing details"
Could you please add tracing details in Readme file? This will help troubleshoot issues as we can't take fiddler to track calls.

[2019-04-02 17:05] annatisch commented on #67
Thanks @mrkarMSFT - just to clarify - would you like me to include instructions on setting up a logger and turn of network trace logging into the README?

Or did you mean something else by tracing? (e.g. distributed tracing)

[2019-04-02 17:22] mrkarMSFT commented on #67
@annatisch - Yes. Please include the instructions on setting up a logger and turn of network trace logging into the README file so that it helps with debugging.

[2019-04-24 18:26] yunhaoling opened #69 "Memory Leak when sending Batch Message to EventHub"
The usage of memory keeps growing when sending BatchEventData to EventHub in a long running test. Some of the C objects may not well be freed. Further investigation into the pyx files is needed, especially the message.pyx file.

[2019-05-03 16:54] #69 closed

[2019-05-08 14:36] annatisch commented on #44
Thanks for the report @egandone - I would really like to invest the time in getting this project working with these other AMQP servers - though unfortunately I wont be able to in the immediate future :(

I will hopefully be able to revisit this in the coming months as we are on-boarding more people to help with these projects.

[2019-05-09 12:25] hbsis-fernandomedeiros commented on #52
Hey @annatisch , how have you been? :)
Do you have any news on this issue? I tried updating my pip package, but it hadn't any releases for a while...
Thanks!

[2019-05-09 17:53] scbedd opened #73 "Re-Enable Python 3.8a in test matrix for azure-pipelines"
The code is still present, commented. However, build failures against 3.8a are preventing passes. Given that this a pre-release python version, we do not want to block a release of uamqp on it. Investigation will happen the next release of the uamqp python library.

@annatisch FYI
[Source issue ](https://github.com/Azure/azure-sdk-for-python/issues/5156)

[2019-06-11 18:01] vpunugupati opened #79 "ImportError: cannot import name 'c_uamqp'"
I am trying to run python script(3.6) as WebJob in App Service Plan to write and read service bus queue messages. In Local machine, It working fine but during hosting on Cloud, It throwing error

[06/11/2019 17:11:06 > 34a114: ERR ]   File "PythonApplication1.py", line 2, in <module>
[06/11/2019 17:11:06 > 34a114: ERR ]     from azure.servicebus.control_client import ServiceBusService
[06/11/2019

[2019-06-12 16:24] vpunugupati commented on #79
May be, It's some thing to do environment related as it is running locally. So, I am closing this.

[2019-06-12 16:24] #79 closed

[2019-06-17 22:41] yunhaoling opened #80 "Update uamqp to be compatible with latest azure-identity get_token interface"
The get_token method in azure-identity will now return both the token string and expiration time information, previously it just return token string.

[2019-06-25 21:56] yunhaoling commented on #80
The problem has been fixed in uamqp 1.2.1.

[2019-06-25 21:56] #80 closed

[2019-07-02 21:50] annatisch opened #83 "Fix unstable async tests with shared connection"
Two tests are intermittently failing on OSX and Linux:
- test_event_hubs_shared_connection_async
- test_event_hubs_multiple_receiver_async

[2019-07-12 18:12] mxmxcz opened #84 "Seg fault when sending message to SB without the with/as statement"
Hello everyone,
When I tried to send a message to ServiceBus, I experienced segmentation faults. It turns out I tried to send them like this:
[code]
which causes segfault. I tried it on my Fedora PC, as well as Windows PC of a colleague of mine - same results. It seems that calling the sender like this fixes the issue:
[code]
I can provide a Valgrind log, which is a bit long, so maybe the log from

[2019-07-12 18:15] annatisch commented on #84
Thanks for the report @mxmxcz!
This would likely involve a fix in both SB and uAMQP - as while uamqp shouldn't be crashing, it looks like SB is also mishandling the sender object. I will open an issue in the Python SDK repo as well :)

[2019-07-25 15:38] alexroat opened #85 "simple_send to a different port"
I'm trying to connect to an ActiveMQ broker which is running on the port 5673 instead of the standard 5671(because on 5671 we are running AMQP 0.91 with another broker).
I used the example:
[code]

Anyway, it appears to be not working:

[code]

Using wireshark I see that the TCP traffic is still going to 5671, so i suppose the port parameter is ignored at all.

Could you kindly post a working exam

[2019-07-29 21:48] senften opened #86 "non deterministic - 'Error in xio_send.'"
I have a service that is reading off the edge and writing to an eventhub for data ingest. The other day I got this unexpected error.

[code]
The first message is from my eventhub writer.

The code snippet that produced this error is:

[code]

What was most surprising to me was an exception was never raised up to the app level.

My process is checkpointed. On restart of the system the same batch wa

[2019-08-12 11:09] fblr opened #87 "Fail to build and use on FreeBSD"
It is not possible to build and install uamqp on FreeBSD because of 3 different build errors in the bundled azure-uamqp-c.

Workaround:
`export CFLAGS="-DUSE_OPENSSL -D__APPLE__ -DTCP_KEEPINTVL=512 -DTCP_KEEPALIVE=0x0008" && pip install uamqp`

Build errors:
 * USE_OPENSSL is undefined, so "azure_c_shared_utility/tlsio_openssl.h" is not included and build failed on deps/azure-c-shared-utility/adap

[2019-09-09 21:26] yunhaoling opened #93 "Close client when the operation is timeout"
In receive_message_batch, when the operation is timeout, we simply set the `self._shutdown` to be True and don't close/reset ReceiveClient.

In this situation, `receive_message_batch` can still be called but the `do_work` function will simply returns as it checks that `self._shutdown` is True.

This is related to the RP: https://github.com/Azure/azure-uamqp-python/pull/90

[2019-09-18 13:05] leonardomira commented on #52
@annatisch and @hbsis-fernandomedeiros
We managed to connect on Solace (at least the connection is displayed on Solace dashboard), but we are unable to publish or consume messages.
On Solace it is always displayed an "Queue not found" error on the established connection.

With this, we are considering that the problem is simple related to the amqp connection string, that is wrong or simply missing

[2019-09-24 21:40] rafwaf commented on #15
Is ARM (Raspberry Pi specifically) "natively" supported in SDK-Python(event hub in particular, version 5.0.2b) or does it still require an independent installation of UAMQP and OpenSSL? Is this still truly an Open issue?

It is unclear to me, as OpenSSL seems to be included in Raspbian-Buster(or is it only in Debian-Buster), which is the latest version of Raspbian, so as I understand it, this shou

[2019-09-25 15:15] annatisch commented on #15
Hi @rafwaf - If you can get the module to install on the Pi then you should be good to go.
You will know if OpenSSL is an issue if you try to import/run the library and you get some interesting errors about missing symbols.

If you're not seeing any errors, and it otherwise appears to be running, it looks like it will likely be another reason that your client isn't receiving data.

The reason for

[2019-09-25 17:20] rafwaf commented on #15
Thanks @annatisch . I  Guess it is something else then.
Good luck with development :)

[2019-09-25 17:22] annatisch commented on #15
Thanks @rafwaf - I'm currently working on pure-python port of this library which will hopefully support wider platform compatibility and easier debugging for this kind of thing.

[2019-09-25 17:31] rafwaf commented on #15
@annatisch That is great. I know one of our interns was having some issues with the current python wrapper version on the Pi, and saw the comment in the docs about it being in development. I'm happy to hear it again from you :) p.s. he worked around it on th pi by sending the data from python, over a socket, to NodeJS, since the NodeJS SDK did seem to work on the Pi and then sent the telemetry up

[2019-10-14 18:49] yunhaoling opened #105 "Improve Error Hierarchy"
Give application level sdk a more clear structure.
Related issue: https://github.com/Azure/azure-sdk-for-python/issues/5355

[2019-10-16 23:41] yunhaoling commented on #83
Closing the issue as it has been fixed in uamqp1.2.3

[2019-10-16 23:42] #83 closed

[2019-11-21 18:11] lmazuel opened #116 "Incorrect garbage collection if "close()" is not called"
See https://github.com/Azure/azure-sdk-for-python/issues/8404 for details

[2019-11-21 18:11] lmazuel commented on #116
WIP: https://github.com/Azure/azure-uamqp-python/pull/115

[2019-11-21 18:14] lmazuel opened #117 "Investigate the right set of C compilation flags"
Right now, the setup.py passes "-g -O0" while CMake is passing "-O2"

It's unclear without being a gcc expert in what optimisation levels the lib is actually compiled.

[2019-11-22 20:38] bsiegel commented on #73
Build matrix now runs with released Python 3.8 however Python 3.9a1 is now out and we might want to start running against that at some point.

[2019-11-22 20:38] #73 closed

[2019-11-22 20:59] bsiegel opened #122 "Update Windows build support to VS2019"
Right now the project can't build under VS2019, which is causing our Windows CI builds to have to stay on an older agent image. We should get this working under VS2019. Unfortunately just updating setuptools to >=34.4.0 and changing the CMake target is not enough, there are some platform problems that need to be resolved:

Python 3.5:
It's unable to locate a header file. My initial scan of this se

[2019-11-22 20:59] bsiegel commented on #122
Exploratory PR: #121

[2019-11-25 06:14] hellodhana commented on #122
Following this issue as I am having same build issue with respect to VS2019.

[2019-11-25 21:31] bsiegel commented on #122
Thanks @hellodhana, can you thumbs-up this issue to help us track its impact?

[2019-11-25 22:05] hellodhana commented on #122
Done. Thanks

On Mon, Nov 25, 2019 at 2:31 PM bsiegel <notifications@github.com> wrote:

[2019-12-03 01:45] digimaun opened #125 "The user_id property for the MessageProperties class appears limited to 8 characters across the wire"
For some reason sending user_id with more than 8 characters causes the exceeding characters to get truncated.

For example sending a payload with:

msg_props.user_id = "abcdefghijklmnop/"

On the receiving end the user_id is "abcdefgh"

[2019-12-12 00:06] yunhaoling commented on #125
Hi @digimaun , thanks for report.

Which service are you using, it's IoTHub or EventHub or ServiceBus?

[2019-12-12 00:37] digimaun commented on #125
This is against IoT Hub. I doubt its a service limitation because for example the C# SDK supports far greater user Id length.

[2019-12-16 04:48] ian-young-sydney opened #134 "Errors in version 1.2.3 and later"
I seem to have found an issue when using the azure-eventhub-1.3.2 library with ‘uamqp’ version 1.2.3 and later. Version 1.2.2 doesn't seem to have the issue.  Basically, I quickly get errors when I connect to the EventHub using the following code:

[code]

This code simply connects to the EventHub, sends a message, and sleeps for a second.  The first 2 or 3 messages go through, and then it usually

[2019-12-16 23:23] yunhaoling commented on #134
Hi @ian-young-sydney ,

we've noticed the problem in eh 1.3.2: https://github.com/Azure/azure-sdk-for-python/issues/8902.

We've released eventhub 1.3.3 today (uamqp 1.2.5 was released last week) which should have the problem fixed. Can you try the latest library?

[2019-12-17 03:40] ian-young-sydney commented on #134
Hi @yunhaoling ,

Thanks for the new release.  I tested my simple script with the new version and it's working.  I'm going to run some more testing today but I think it's good.  I noticed that you and others have made various improvements to this eventhub library, which I am very thankful for.  The new one is still beta so hesitant to migrate our services to this for Prod, so keen for bug fixes to

[2019-12-18 00:10] yunhaoling commented on #125
Hello @digimaun ,

I confirmed the issue, after sending a message with the message properties being `"testuserid", and when I received the message, it only keeps the first 8 chars, and suffix are weird chars(like Unicode):

b'testuser\x99\xebs\xc8'
b'testuser)\x11\x07\xbe\x82\x18'
b'testuser\xea,\xe92'
b'testuser\xb3\xa1\x9d\xab'

Will investigate the root cause for this

[2019-12-18 00:20] yunhaoling commented on #134
Hi @ian-young-sydney ,

You're welcome, glad that our work helps you!
We'll let you know once the new EventHubs SDK comes to the GA stage.

Please feel free to reach out to us if any help is needed.
Closing this issue for now but you can always re-open it if the problem still exists.

[2019-12-18 00:20] #134 closed

[2019-12-20 21:38] engebret opened #135 "Keep alive failures"
When trying to use keep_alive_interval on a set of servicebus queues (where the queues are configured, but no remote client is yet connected) I am hitting errors and unexpected state changes in the amqp connections.  Ultimately the connections fail and need to be recreated.  If remote clients are enabled AND message traffic is occurring this does not happen, so there must be some level of timeout

[2020-01-14 19:52] ramya-rao-a commented on #135
cc @KieranBrantnerMagee

[2020-01-14 21:45] KieranBrantnerMagee commented on #135
Hey engebret;
Thanks for the logs and detail, and your patience thus far, we'll dig in and loop back here with any information or questions.

(Appreciated for the ping and looping us in Ramya!)

[2020-01-25 04:16] KieranBrantnerMagee commented on #135
To give a brief status update (@engebret you may have heard this response via email; realized I had an opportunity to unify it with this thread for this update so apologies if this is a repeat)

In investigation we tried a bunch of permutations of send and receive but were having trouble reproducing the failure as I understood it.  Please see [this gist](https://gist.github.com/KieranBrantnerMagee

[2020-02-14 15:01] keithdarragh commented on #51
Is there an update on when this will be available?

[2020-02-17 13:25] cecilphillip commented on #67
any update on this?

[2020-02-20 14:22] thedrow commented on #53
Shouldn't this issue be closed?
Seems like Github didn't close it automatically.

[2020-03-02 20:48] thatch commented on #65
I'm seeing this as well.

[2020-03-02 23:17] thatch commented on #65
Looks like `-Werror` is coming from one of the cmake files, I dropped the lines that reference it from these three files and have a successful build:

[code]

[2020-03-18 10:22] thedrow commented on #53
@zach-b Ping? ^

[2020-03-18 10:34] thedrow opened #148 "Use AnyIO instead of AsyncIO"
**Is your feature request related to a problem? Please describe.**
I'd like to use uamqp with trio. [`trio`](https://trio.readthedocs.io/en/stable/) is another event loop implementation for Python which uses structured concurrency concepts.

**Describe the solution you'd like**
Instead of implementing asynchronous operations using `asyncio` the `async_ops` module should instead be implemented with

[2020-03-18 10:44] thedrow commented on #148
I'm not going to work on this until we have a consensus on what needs to be done.
Please address this issue as quickly as possible. Thanks :).

[2020-03-18 13:12] annatisch commented on #148
Thanks @thedrow!
We wanted to make these changes about a year ago, but at the time it wasn't easy because we were using some very asyncio-specific features like [run_in_executor](https://docs.python.org/3/library/asyncio-eventloop.html#asyncio.loop.run_in_executor) for which we needed to pass through the event loop.
However I _think_ our dependency on the asyncio loop has now been refactored out,

[2020-03-18 13:13] annatisch commented on #53
Closing for now - @zach-b - if you're still experiencing this issue please let us know and we can re-open.

[2020-03-18 13:13] #53 closed

[2020-03-18 21:34] yunhaoling opened #149 "_link_error is not cleaned up when multiples links are sharing session"
**Describe the bug**

When multiples links (sender/receiver) are sharing the same session, if one of these links gets into error state, the `uamqp.Session` would mark `self._link_error`:
https://github.com/Azure/azure-uamqp-python/blob/master/uamqp/session.py#L48

However, this behavior blocks pending links to establish the connection. Because in `_state_changed` of sender/receiver, it will check

[2020-03-21 02:46] KieranBrantnerMagee commented on #135
Hey engebret;
given the latest report that the prospective fix didn't seem to do the trick, we're digging back in with priority; sincere apologies for the issue.  Echoing the updates here that I sent via email, per your mention about eyeballing this thread for details (we're more than happy to use this as the primary channel)

1.	Since it was mentioned that closing and reopening the sender mitigat

[2020-03-21 10:47] thedrow commented on #148
Of course it does. Trio also supports running tasks in threads.
AnyIO abstracts `sleep` as well as most other mechanisms.

Is there any chance you'll refactor this on your own?
If not, where are the tests for the asynchronous code?

[2020-03-23 17:22] annatisch commented on #148
Thanks @thedrow - yes it is likely we will refactor this imminently.
We're already seeing warnings about the passing around of `loop`, so I would like to get that cleaned up - although we may not get to it within a given timeframe.

I will do my best to scope out the needed work within the next few days.

[2020-03-24 16:51] engebret commented on #135
I am able to recreate the issue with the simple test script so would like to keep the focus on that example & try to understand why you see different behavior.  That implies a potential environment difference or perhaps configuration of the server side is different in some way.

One thing I'd like to understand better are the default timeout settings in the stack.  Should a keep_alive_interval = 3

[2020-03-24 18:31] engebret commented on #135
Here is some debug output from running the simple test application with keep alive = 30s.  Note that I have some extra debugging code in the uamqp/connection.py code.  The main concern I have here is the unexpected state transition from that code:
https://github.com/Azure/azure-uamqp-python/blob/master/uamqp/connection.py#L178

<...>
DEBUG:uamqp.client:Message sent: <MessageSendResult.Ok: 0>, []
*

[2020-03-24 22:05] engebret commented on #135
Experimenting with a keep_alive_interval = 5 appears to remove the issue of an illegal state transition exception being raised.  Eventually the link detatches after we hit a 10 minute IdleTimerExpired (messages sent after this timeout raise an exception & are retried), but I suspect that is an expected behavior ?

[2020-03-27 18:57] KieranBrantnerMagee commented on #135
So I _may_ have been able to reproduce a similar failure, but I'm still nervous as it's not 100% in parallel with what you've posted, (e.g. doesn't go away with keep_alive_interval=5, only when entirely removing keepalive from the sender, and manifests as a harder crash than you've seen) and at least in my case seems to come down to providing keep_alive_interval to the sender at all; if I remove i

[2020-03-27 20:41] engebret commented on #135
I have not seen the GC fatal error you report so that appears to be something new.

The only reason I was using the keep alive was to try to avoid the problem we were seeing where after just a couple minutes (or less) of no sent messages the exception I reported was thrown.  My thought was it would keep the connection in a good state if we are not sending actual data messages.  The short (5s) keep

[2020-03-28 01:13] yunhaoling commented on #135
Hi @engebret , thanks for providing the additional context. I did some investigation into the C library (azure-uamqp-c which is used by azure-uamqp-python) and found that the connection state would be set to `CONNECTION_STATE_DISCARDING` when the connection is closed with error.

There're a certain amount of cases when connection would be closed with error:
- fail to parse bytes received from the

[2020-03-30 11:28] thedrow commented on #148
@annatisch Any updates?

[2020-03-30 15:03] engebret commented on #135
Output below captured with debug=True & is annotated with approximate timestamps.  I think the theory about an issue with the underlying socket is a good possibility.  It would explain why my behavior is different than what you have been able to recreate (we are on an older version of Windows Server).  It does seem to me though that the keep alive messages should essentially help avoid timeout bas

[2020-03-30 17:23] annatisch commented on #148
Hi @thedrow - I've taken a look and I don't think there's too much work involved.
However we're are currently discussing internally whether we want to invest further in the C-binding-based project, or whether we want to remove the C layer and replace with a pure-python based implementation (prototype currently ongoing in the [pyproto](https://github.com/Azure/azure-uamqp-python/tree/pyproto) branc

[2020-03-31 01:15] yunhaoling commented on #135
@engebret, thanks for providing the log, it definitely helps a lot!

I noticed the weird part in your latest post:
[code]

I've searched the code of the C library, the only place that it would log such error is that when a local connection idle-timeout is set and that idle-timeout expires:

https://github.com/Azure/azure-uamqp-python/blob/803810434d5696b42641abfea9074069be446c29/src/vendor/azure-u

[2020-03-31 19:18] engebret commented on #135
Thank you for the additional information & ideas.  I went back through the code I was instrumenting to debug & found a spot I had missed when reverting to the original code.  My output now matches what you have (for the simple test), so I now think that the recent fix that was provided did in fact address the issue we had been seeing where a timeout less than 10m was causing exceptions on a messag

[2020-03-31 21:56] yunhaoling opened #151 "Improve idle timeout connection status transition"
When connection idle timeout happens, the underlying C code would set the connection status to DISCARDING.

In previous implementation, the connection status would go through weird transition in the case of idle timeout:

OPENED->DISCARDING
DISCARDING->DISCARDING
DISCARDING->DISCARDING
...
DISCARDING->DISCARDING
DISCARDING->END
END->DISCARDING # This is the most weird part
Although the functionali

[2020-04-03 19:35] yunhaoling commented on #135
@engebret sorry about not getting to you sooner.

Yes, your understanding is correct.

I think you're doing good, generally retry practice sounds good to me.

There is a [`reconnect()`](https://github.com/Azure/azure-sdk-for-python/blob/300d00e56a80711230902fcd285e347ac0de121b/sdk/servicebus/azure-servicebus/azure/servicebus/send_handler.py#L195-L209) method on the `Sender` which should properly h

[2020-04-07 15:58] engebret commented on #135
@yunhaoling as your team sorts out the data for that next release please get the date to me as soon as you can.  We would like to roll this update into our next product update which has a timeline to wrap up development and start test by the start of May.

Thanks for the help & updates!

[2020-04-09 17:02] tonygleck opened #153 "Setting property absolute_expiry_time caused send to fails"
- **UAMQP Package Version**: uamqp-1.2.6
- **Operating System**: Linux Ubuntu 18.04
- **Python Version**: 3.7

**Describe the bug**
When I set the absolute_expiry_time on a message property I get a failure, if I remove the setting of absolute time and set a different property it works correctly.

**To Reproduce**
Steps to reproduce the behavior:
Run the following script:
[code]
Let me know if I'm

[2020-04-10 08:11] yunhaoling opened #155 "dead-letter reason not populated into error.info when a message is rejected"
In ServiceBus v0.50.2 and before, dead_letter doesn't populate the description to the service side when using `message.reject()` method.
This is because description is not populated into error.info, only populated in error.description:
https://github.com/Azure/azure-uamqp-python/blob/803810434d5696b42641abfea9074069be446c29/src/vendor/azure-uamqp-c/src/messaging.c#L181-L198

To populate the descri

[2020-04-23 15:10] engebret commented on #135
Any update on availability of the next release ?

[2020-04-29 19:33] KieranBrantnerMagee commented on #135
Hey Engebret,
needed to sync with the powers that be to get a nod for this, but we're looking to have a release out within the next 2-3 weeks; (giving a pessimistic time window just in case). will loop back as I get an exact date.

[2020-05-05 01:16] yunhaoling commented on #135
Hi @engebret , apologies for the delayed response.

And apologies one more time as it's completely my fault that I didn't take a careful look into the `reconnect` inside a Sender -- `reconnect` would internally send out pending messages.

I've prepared a patch for you which integrates the `send` with `reconnect` internally, can you try this patch to see if the fix solves your problem? -- If it wor

[2020-05-05 18:34] yunhaoling commented on #84
hey @mxmxcz , sorry for not getting to you sooner.
we have fixed the garbage collection issue in uamqp v1.2.5, can you try upgrading uamqp to the latest version to see if the problem get resolved on your side?

[2020-05-05 21:54] engebret commented on #135
Hi @yunhaoling, I've been testing this change today, and believe I have found a case missing in your patch that covers the actual error I'm hitting (LinkDetatch).  For the two code blocks where you have:

        except (errors.ConnectionClose,
                errors.AuthenticationException,
                errors.MessageHandlerError):

The case of 'errors.LinkDetatch' is probably also required.

[2020-05-06 06:33] yunhaoling commented on #135
Hi @engebret , thanks for pointing that out, I think you're right -- I've checked error handling and found out that LinkDetach indeed requires reconnection.

with that being said, I built another patch whl file with that being addressed, would you be able to test that one more time?

[servicebus-retry-send-patch-0505.zip](https://github.com/Azure/azure-uamqp-python/files/4585108/servicebus-retry-s

[2020-05-06 13:16] engebret commented on #135
Hi @yunhaoling - this most recent patch is working better for my case, thank you!  The LinkDetatch after 10m is now handled transparently which improves the client code complexity.

Are there any updates on the timeline to get the various updates out into an official release?

Thanks

[2020-05-06 17:26] yunhaoling commented on #135
yes, our plan is to release in the middle of May, we'll update you once we get it shipped.

[2020-05-06 17:52] mxmxcz commented on #84
Unfortunately, I have switched projects, therefore I don't have access to the codebase anymore. If the example above runs without any error, I'd consider the issue resolved.

Thanks for getting back to me, though.

[2020-05-08 21:36] yunhaoling commented on #84
@mxmxcz , thanks for letting me know.

Closing the issue as it has been addressed in uamqp v1.2.5+.

[2020-05-08 21:36] #84 closed

[2020-05-21 01:36] yunhaoling commented on #135
Hey @engebret , sorry for keeping you waiting, we've released azure-servicebus v0.50.3 today, please try update the library accordingly.

One thing I want to note is that v0.50.3 would be our final release for v0.50.

Currently we're putting all our efforts into azure-servicebus v7.0.0 (which is in preview status) to create a more user friendly and productive library. As we have limited cycles, we

[2020-05-21 01:36] #135 closed

[2020-05-21 02:06] yunhaoling commented on #155
v1.2.8 is out which fixed the problem.

[2020-05-21 02:06] #155 closed

[2020-06-16 05:51] cnshrenivas commented on #79
I am using AWS Serverless in my development and using python to develop lambdas.

I want to use azure-servicebus and was able to import "azure-servicebus" and all its dependencies (including uamqp).
I am using a requirements.txt file to list all the dependencies needed and using a shell script to manually import all the dependencies needed. Attached my requirements.txt file which installs all the

[2020-06-17 09:30] vpunugupati commented on #79
If I remember correctly, at that time I used wrong package on that machine. i.e 32 bit package on 64 bit machine. Later I used right package with right environment. Hope the same happening in your case also.

[2020-06-17 13:14] annatisch commented on #79
Hi @cnshrenivas,
As @vpunugupati mentioned - selecting the correct bitness of the wheel will be important.
Additionally - we are also currently limited in the supported OS that are precompiled for.
You _may_ need to build the library directly from the source.

We are in the process of porting this to a pure-Python lib to do away with the c components altogether - so longer term this should no long

[2020-06-17 14:57] cnshrenivas commented on #79
Thanks @vpunugupati and @annatisch for your inputs.
@annatisch : Can you please tell the release/timeline for porting as pure python lib

[2020-07-01 14:12] thedrow commented on #148
@annatisch Pinging you once more, with feeling ;)

[2020-07-17 19:11] yunhaoling commented on #153
hey @tonygleck , apologize for the delayed response.

thanks for you detailed instruction to reproduce, may I ask:

1. are you sending message to Azure IoTHub?
2. would you be able to turn on networking tracking and enable logging to see if there's any error happening during the sending process? that would be:

[code]
it would be helpful and convenient for us to debug if you could paste the log he

[2020-07-23 20:07] Counterfly opened #164 "Queue name includes host address and scheme"
- **UAMQP 1.2.9**:
- **OSX 10.15.6**:
- **python 3.7.7**:

**Describe the bug**
The queue name is composed of the host, scheme, and path address.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The queue name (on activeMQ) should be "queue1". but is "amqps://0.0.0.0/queue1"

[2020-07-23 22:27] yunhaoling opened #165 "Data factory missing data type support"
The data type `datetime.timedelta` is not supported in uamqp when encoding message (or its properties) leading to the failure of sending messages containing timedelta.

In .Net AMQP implementation, they support TimeSpan by a DescribedType.
https://github.com/Azure/azure-sdk-for-net/blob/94b8c933793f0801aa97d80218798894fa32d74f/sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter

[2020-07-24 23:24] yunhaoling commented on #164
hey @Counterfly, sorry I didn't quite follow the bug you mentioned. May I ask a few more questions to better understand your situation?

1. for the **Expected behavior** part, the `queue_name` you mentioned is the parameter used for constructing SendClient?
Current uamqp client constructor only supports full uri -- `SendClient(target='amqps://host_address/queue_name',...)`, or are you referring to

[2020-07-24 23:46] Counterfly commented on #164
hey.

1. yes, the parameter is the `target` variable (in this case the `path` of the url) and that's just because I don't see anywhere else to specify the queue name.
2. No, i'm using it to connect to a local (my own) activeMQ server. Not to an azure service.

[2020-07-31 07:07] JackyXu866 opened #166 "pure python version of uamqp"
I am encountering several problems when cross-compiling this package because of the c file in it.
So I am wondering when will the pure python version be released?

[2020-08-01 00:07] yunhaoling commented on #164
hey @Counterfly , sorry for the delayed response.

I double-checked the concepts in AMQP sepc -- http://docs.oasis-open.org/amqp/core/v1.0/amqp-core-complete-v1.0.pdf

I'm afraid from the view of protocol, "queue" is not a concept that AMQP implementation should be aware of. Here is why:

In AMQP, the endpoints that amqp link connects are known as sources and targets. In **section 3.5 sources and

[2020-08-04 21:45] yunhaoling commented on #166
hey @JackyXu866 , thanks for reaching out.

The goods news is that we've started planning and prioritizing to get the ball rolling again on pure python library.

However there is plenty of work on feature parity and test remaining to be done and we have limited cycles and resources allocated on uamqp library right now.

I'll make sure in the coming months time and efforts would be put on pure pyth

[2020-08-06 23:41] yunhaoling opened #167 "Update tlsio_openssl module in vendor azure-c-shared-utility to enable sending SNI"
Problem:

uamqp on linux can't establish connection over web socket to the service when there's an Azure Fire wall.

Root cause:

azure-c-shared-utility uses OpenSSL when running on Linux, but uses SChannel when running on Windows. By default, OpenSSL does not send an SNI extension during the SSL handshake but Windows SChannel does. When using Application Rules, if the SNI is missing, Azure Firewa

[2020-08-10 21:59] c0dingarchit3ct commented on #79
Hey guys,
We are facing the same problem now, although we imported azure-servicebus and all its dependencies in our layer, we still get that error?
Any idea on how to get around that? is this Linux related? would trying to run this code on Linux and copying the layer to lambda make a difference?

[2020-08-10 22:32] #164 closed

[2020-08-10 22:33] yunhaoling commented on #164
I'm closing this issue. Let me know whether the explanation makes sense to you or we could discuss further.

[2020-08-11 18:52] sdebruyn commented on #15
It would already help a lot if wheels were provided for ARM64, would it be much more work than adding that arch to the CI/CD pipeline?

[2020-08-11 19:01] sdebruyn commented on #15
Looks like this would mean moving from manylinux2010 to manylinux2014

[2020-08-24 15:51] 1008covingtonlane commented on #87
Has anyone had success installing UAMQP on BSD11?  I tried the workaround above but keep getting compile errors.
`
/tmp/pip-install-jhr0vii1/uamqp/src/vendor/azure-uamqp-c/deps/azure-c-shared-utility/adapters/platform_linux.c:39:12: error: implicit declaration of function 'tlsio_openssl_get_interface_description' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
        return tlsio_open

[2020-09-03 19:15] KieranBrantnerMagee opened #169 "Footer and Delivery_Annotations do not appear to persist across send->receive"
- **UAMQP Package Version**:
1.2.10
- **Operating System**:
Windows (Assumed all)
- **Python Version**:
3.8 (Assumed all)

**Describe the bug**
Setting values within the footer and delivery annotation dicts (or setting them as novel dicts) and then sending a message does not result in those same values showing up on the received message.

**To Reproduce**
Steps to reproduce the behavior:
1. Create

[2020-09-08 23:01] KieranBrantnerMagee opened #170 "CBS Auth errors when trying to use a SAS token without a se= stanza"
- **UAMQP Package Version**:
latest
- **Operating System**:
all
- **Python Version**:
all

**Describe the bug**
Utilize a SAS token lacking a &se=<expiry timestamp> stanza.  Observe the following error:
E                   uamqp.errors.TokenAuthFailure: CBS Token authentication failed.
E                   Status code: 500
E                   Description: The service was unable to process the reque

[2020-09-22 18:37] yunhaoling commented on #170
Closing this issue now, the summary is as bellow:

Based on
 - The MS doc on how to generate a SAS token: https://docs.microsoft.com/en-us/rest/api/eventhub/generate-sas-token
 - The implementation in uamqp-c on how to generate SAS token: https://github.com/Azure/azure-uamqp-python/blob/ccc9c82a548a42b147c11ae6a46575bd3b03ea24/src/vendor/azure-uamqp-c/deps/azure-c-shared-utility/src/sastoken.c#L20

[2020-09-22 18:37] #170 closed

[2020-09-22 21:15] yunhaoling commented on #170
new action item for you @KieranBrantnerMagee: we may need to remove the optionality in SB.

[2020-09-23 22:55] yunhaoling opened #172 "adding python 3.9 support in yaml matrix"
current approach:
adding python3.9 into different yamls matrix and see if whls could be generated
e.g: https://github.com/Azure/azure-uamqp-python/tree/master/.azure-pipelines

split separate issue:
investigate abi3: for code, setup.py/setup.cfg
- cython may not support abi3

[2020-09-24 00:11] yunhaoling opened #173 "Investigate building abi3 wheels"
Unclear on the concep, need invesigation:

some ref docs:
https://docs.python.org/3.9/c-api/stable.html

todo:
- [ ] check whether cython support abi3,
- [ ] check what to do to enable abi3 (e.g. setup.py/setup.cfg update)

[2020-10-01 21:42] KieranBrantnerMagee opened #177 "Allow a method to disable warning on novel vendor exceptions."
**Is your feature request related to a problem? Please describe.**
If an open attempt fails with a vendor specific error, it will bubble up in such a way that will result in a logger.warning being thrown.  See the following code-path:

https://github.com/Azure/azure-uamqp-python/blob/5de33fdb42da47f9db7b001511512e93d0be4bb6/uamqp/errors.py#L27

https://github.com/Azure/azure-uamqp-python/blob/5de3

[2020-10-02 01:17] yunhaoling commented on #167
this is fixed in the latest uamqp v1.2.11 release

[2020-10-02 01:17] #167 closed

[2020-10-02 01:17] yunhaoling commented on #169
this is fixed in the latest uamqp v1.2.11 release

[2020-10-02 01:17] #169 closed

[2020-10-07 06:57] EpicWink commented on #172
Note you'll need to be wary of the [`tp_print` slot](https://docs.python.org/3/c-api/typeobj.html#c.PyTypeObject.tp_vectorcall_offset) for `_typeobject` structs causing issues: I'm not able to build uAMQP v1.2.11 in the [official Python 3.9 Docker image](https://hub.docker.com/_/python)

[2020-10-07 21:18] yunhaoling opened #178 "yml file update post Python 3.9 release"
- [ ] update travis to use python 3.9 instead python 3.9-dev when it's available on travis
- [ ] update test/client.yml file use to python 3.9 instead of `python 3.9.0` after python 3.9 is available on host agents

[2020-10-09 21:34] yunhaoling commented on #172
hey @EpicWink , the compiler error due to `tp_print` has been fixed by the latest stable cython (0.29.21), we have bumped the dependency version accordingly.

we have released uamqp 1.2.12 with support for python3.9 -- https://pypi.org/project/uamqp/1.2.12/, closing the issue now.

[2020-10-09 21:45] yunhaoling opened #180 "Update the docker image to use ManyLinux 2014 as ManyLinux 2010 becoming obsolete in Nov 2020"
manylinux2010 is considered obsolete as of Nov 30, 2020. The next target is manylinux2014 which is supported until June 30, 2024

[2020-10-19 08:10] loretoparisi opened #182 "AmazonMQ support"
- **UAMQP Package Version**:
`uamqp 1.2.12`

- **Operating System**:
`macOS 10.14.5`

- **Python Version**:
`python 3.7`

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a AmazonMQ broker
2. Try to connect and send a message to the broker.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2020-10-20 14:33] loretoparisi commented on #182
**[UPDATE]**
So, the problem above is due to the `AMQP_SERVICE_URI` that was missing a trailing `/`:

[code]

In this way I can send the message, but the recipient queue is wrong: instead of being the queue defined in `msg_props.to`, it's a new queue, having as name the whole connection string's name:

[code]

where I assume that

[code]

was the right syntax of the message destination.

[2020-11-12 18:11] yunhaoling commented on #182
hey @loretoparisi , thanks for reaching out and apologize for the late response.

I haven't tried using uamqp to connect to AmazonMQ, will give a try when i have some time.
Besides, do you see any exception or error log when you can't receive?

[2020-11-13 09:22] loretoparisi commented on #182
@yunhaoling currently the error was

[code]

thank you.

[2020-11-13 11:52] simmel commented on #182
I think the biggest problem is that ActiveMQ (and thus AmazonMQ since it's using ActiveMQ) expects the address of a message to be either `queue://the.queue.name` or `topic://the.topic.name`. If it's just `the.queue.name` it's implied that it's a queue IIRC.

In https://github.com/Azure/azure-uamqp-python/blob/473fa5/uamqp/address.py#L35-L45 the address for the message is assumed to be an URL `amqp

[2020-11-13 11:54] simmel commented on #182
Oh, and if I just change https://github.com/Azure/azure-uamqp-python/blob/473fa5/uamqp/address.py#L45 to:
[code]
it works.

[2020-11-18 21:49] yunhaoling opened #183 "Unable to detect link detach (session lock lost) in message settlement"
In service bus, when a sessionful entity's lock expired, the service would send a detach frame indicating the session lock is lost.
However, in uamqp settlement calling, we don't receive and handle amqp frames which means we're unable to detect whether these is a session lock lost, and we send the disposition frame out which would fail silently.

On the other side, even if we do connection.work be

[2020-11-18 22:22] yunhaoling commented on #183
rhea-amqp would get the following error:
[code]

[2020-11-18 23:22] yunhaoling opened #184 "Improve ClientMessageError when sending message timed out"
Currently if messages sending timed out, we would raise ClientError wrapping TimeoutError

https://github.com/Azure/azure-uamqp-python/blob/473fa53b4b4800878d95fb20f1617d656aeebd51/uamqp/client.py#L582-L586
https://github.com/Azure/azure-uamqp-python/blob/473fa53b4b4800878d95fb20f1617d656aeebd51/uamqp/client.py#L734

We might want to improve this to make the TimeoutError more explicit and could be

[2020-11-24 10:21] cedrickring opened #185 "Opening a connection fails on macOS Big Sur with Python 3.8"
- **UAMQP Package Version**: `uamqp==1.2.12`
- **Operating System**: macOS 11.0.1
- **Python Version**: 3.8.6

**Describe the bug**
Opening a connection crashes the process with the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new virtual environment with Python 3
2. Install azure-servicebus (0.50.3 or 7.0.0) as a dependency (which uses uamqp)
3. The follo

[2020-12-01 03:31] yunhaoling opened #186 "[Bug] Reading MessageProperties.user_id would trigger segmentation fault when receiving an empty but valid binary data"
an `amqp_binary` (which is the amqp type used for user_id) variable can be of length 0 and bytes NULL, in this case, cython would trigger seg fault when reading the the `bytes`:
`return <char*>_binary.bytes`.

https://github.com/Azure/azure-uamqp-python/blob/473fa53b4b4800878d95fb20f1617d656aeebd51/src/properties.pyx#L104-L110

it might be fixed by the following code, need to test:
[code]

[2020-12-09 06:36] odidev opened #191 "Wheel support for linux aarch64 [arm64]"
Summary
Installing azure-uamqp-python on aarch64 via pip using command "pip3 install azure-uamqp-python" tries to build wheel from source code

Problem description
azure-uamqp-python doesn't have wheel for aarch64 on PyPI repository. So, while installing azure-uamqp-python via pip on aarch64, pip builds wheel for same resulting in it takes more time to install azure-uamqp-python. Making wheel avai

[2021-01-06 13:19] terrycain opened #197 "Keepalive thread continues running after main thread has stopped"
- **UAMQP Package Version**: 1.2.12
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8.5

**Describe the bug**
If the ServiceBusSender is not closed before the main thread exits, the program will hang as the keepalive thread continues to run. Whilst closing resources does solve this, marking the keepalive thread as a daemon thread allows programs to exit regardless of cleanup

**To Rep

[2021-01-06 20:06] yunhaoling commented on #197
hey @terrycain , thanks for the findings.
I'll look into this and see if `daemon = True` could help resolve the issue without side effects

[2021-01-06 20:34] yunhaoling commented on #191
hey @odidev , apologize for keeping you waiting for such a long time.

If I'm understanding it correctly, aarch64 is a subset of the ARM architecture, so the question here is to provide pre-built wheels for the ARM architecture (ARM32/64). And your suggestion sounds reasonable to me.

I'll bring team's attention to this topic of multi-arch wheel support and let you know how we wanna approach this.

[2021-01-06 22:14] yunhaoling commented on #186
closing this issue as it's fixed in uamqp 1.2.13

[2021-01-06 22:14] #186 closed

[2021-01-06 22:15] yunhaoling commented on #185
hey @cedrickring, we have release uamqp 1.2.13, could you try `pip install uamqp --upgrade` to install the latest version to see if that solves the problem for you.

[2021-01-06 22:16] #178 closed

[2021-01-06 22:28] yunhaoling commented on #125
hey @digimaun, I'm sorry it took me so long to finally locate the issue.

The root cause of this issue is that the `length` of `user_id` in our cython layer is fixed to the size of a `char*` which is a pointer, so it's always 8 as it's a memory address.

it's in `src/roperties.pyx`:
[code]

we have released uamqp v1.2.13 to address the issue, please upgrade to the latest version.
thanks for your p

[2021-01-06 22:28] #125 closed

[2021-01-06 22:54] #185 closed

[2021-01-07 10:40] rapsli opened #198 "ImportError: cannot import name 'Session' from partially initialized module 'uamqp' (most likely due to a circular import)"
- **UAMQP Package Version**:  uamqp 1.2.13
- **Operating System**: Windows
- **Python Version**:  3.8.5

**Describe the bug**
Running this very simple example: https://github.com/Azure/azure-uamqp-python/blob/master/samples/sample_uamqp_receive_simple.py

**To Reproduce**
Steps to reproduce the behavior:
1. just run the sample and the following error shows up:

[code]

**Expected behavior**
The sa

[2021-01-13 19:55] yunhaoling opened #199 "Investigate minwindef.h usage for Python2.7 VC9 compilation"
see if we're able to remove this header file include / or other workarounds to bypass the compilation error

- try comment out the `#include` first to see what methods are used

[2021-01-18 06:32] odidev commented on #191
@yunhaoling, did you get any suggestion form the team on multi-arch wheel support?

[2021-01-26 19:44] yunhaoling commented on #199
see PR:https://github.com/Azure/azure-uamqp-python/pull/200
use the latest windows SDK when python2.7

[2021-01-26 19:44] #199 closed

[2021-01-27 11:48] odidev commented on #191
Manylinux2014 ensures that the wheel is built against the AArch64 v8.0 specification. All AArch64 platforms in the v8 series maintain backward compatibility with v8.0. So a binary built for v8.0 can run on any v8 platform. Enabling aarch64 wheel support will benefit arm v8 series users by reducing installation time.

@lmazuel, @annatisch, @yunhaoling can you please let me know if you are intereste

[2021-01-28 20:03] yunhaoling opened #205 "Investigate pip installation in CI"
We have a step in our client/test.yml called `Install dependencies` where we will download the `get-pip.py` scripts and install the pip.

however, with the release of pip 21, it only supports python >= 3.6, which will lead to pip installation failure on python 2.7 and 3.5 with the latest `get-pip.py`. The current workaround we apply is adding a new [GetPip][https://github.com/Azure/azure-uamqp-pyt

[2021-01-28 20:14] yunhaoling commented on #198
hey @rapsli, sorry for keeping you waiting.

I can't reproduce the issue locally, how did you install the uamqp library, is it via `pip install`?
also do you include any dev path in your python environment like you clone the repo and include the project path in the python interpreter search path?

[2021-01-28 22:03] yunhaoling commented on #191
hey @odidev, we would be happy to add support, but we first need to investigate how to manully build the whls on the the AArch64 platform.

basically to determine whether we need new VM agents with ARM architects, what're the supported python version, do we need new docker images for the build etc.

It would be nice if you could tell us more about the machine spec/os images you use.

[2021-01-29 06:25] rapsli commented on #198
yes. I tried again on a fresh conda environment, using python 3.9

installing via pip install

[code]

I tried an even more striped down version. Opening python console and runnging import uamqp, but with the same result:

[code]

[2021-01-29 18:32] yunhaoling commented on #198
I also tried a new conda virtual env39, and install the uamqp via pip, nothing went wrong:
![image](https://user-images.githubusercontent.com/47871814/106313207-ae6e4280-621c-11eb-86a7-ba95cda6f62e.png)

could you print out the `sys.path`, I want to check if the `sys.path` has included some directories that cause problem?

[2021-01-29 20:42] rapsli commented on #198
Here is print(sys.path):

`['', 'C:\\Users\\schae\\anaconda3\\envs\\urbenis\\python39.zip', 'C:\\Users\\schae\\anaconda3\\envs\\urbenis\\DLLs', 'C:\\Users\\schae\\anaconda3\\envs\\urbenis\\lib', 'C:\\Users\\schae\\anaconda3\\envs\\urbenis', 'C:\\Users\\schae\\anaconda3\\envs\\urbenis\\lib\\site-packages']`

[2021-02-03 11:00] odidev commented on #191
Hi @yunhaoling , I tried building aarch64 wheels in manylinux2014_aarch64 docker container on my local aarch64 machine by using similar script as " build_many_linux.sh". Attached the script [build_many_linux_aarch64.txt](https://github.com/Azure/azure-uamqp-python/files/5917873/build_many_linux_aarch64.txt) for your reference. The wheels are getting generate successfully.

If you don't have aarch6

[2021-02-07 23:09] terrycain commented on #197
@yunhaoling any progress with this?

[2021-02-08 14:16] yunhaoling commented on #197
hey @terrycain, I confirmed that setting `self._keep_alive_thread` to be a daemon thread would prevent the program from hanging if the service bus sender or client is not closed properly.

According to the description in [python doc](https://docs.python.org/3/library/threading.html#thread-objects):

I believe here as part of the amqp protocol implementation, **the network connection should be grac

[2021-02-08 18:47] rapsli commented on #198
any news on this?

[2021-02-09 13:22] yunhaoling commented on #198
sorry I am still not able to reproduce the issue locally.

but the logging you provide has this line which should not show up if we're purely importing just the uamqp.
[code]

[2021-02-09 16:55] rapsli commented on #198
Well, I wasn't maybe no precise enough. Here is the code I run:

[code]

Line 5 is with importing authentication

[2021-02-09 17:41] yunhaoling commented on #198
@rapsli , those two lines you run them in the python console, right?
[code]

I'm wondering if we're **only running in the python console**, then why `C:\Users\schae\OneDrive\Dokumente\dev\django_projects\urbenis\mfr_app\queue.py` would show up..
[code]

also do you have other machines for test?

[2021-02-09 18:12] rapsli commented on #198
Ok. I figured out more. it has to to with where in the path I am.

this works:
[code]

This doesn't work
[code]

It seems that as soons as I go some folders deeper into my workspace the import stops working.

[2021-02-09 18:33] rapsli commented on #198
:-D guess what. I figured out what the issue was!!

I have a file called queue.py in my folder that's the issue that will break everything. Renaming that file to something else will fix it. Maybe something for some notes somewhere...

[2021-02-09 19:12] #198 closed

[2021-02-12 11:50] bluca opened #209 "Binary executables checked in the git repository"
Since PR https://github.com/Azure/azure-uamqp-python/pull/200 a number of binary executable files have been checked in the git repository:

[code]

Was this the result of a git add -A mistake?

Could you please remove them? Having binary files checked in git is not great as git notoriously does not handle binaries well (without extensions like git-lfs), and will inflate the repository size massive

[2021-02-12 11:51] bluca commented on #209
/cc @yunhaoling @annatisch @lmazuel

[2021-02-12 16:50] annatisch commented on #209
Thanks @bluca! This does appear to be a mistake....
@yunhaoling - can you confirm?

[2021-02-12 17:58] yunhaoling commented on #209
oops, my bad -- those files sneaked in..
thanks @bluca! I'll create a PR to remove all of them

[2021-02-12 18:23] bluca commented on #209
Thanks! Would be great to have a point release after that if possible, so I can import the fixed tarball in Debian/Ubuntu.

[2021-02-17 13:30] bluca commented on #209
hi - any update on this? I'd like to upload the latest bug fix release before the Debian 11 freeze, but it's in 3 weeks so time is running out

[2021-02-17 18:11] yunhaoling commented on #209
hey @bluca , I have just created a PR: https://github.com/Azure/azure-uamqp-python/pull/211.

do you mean the release on github?
![image](https://user-images.githubusercontent.com/47871814/108248185-613d0c80-7108-11eb-8d53-e366bdc1de7a.png)

[2021-02-17 18:50] bluca commented on #209
Yes, I meant a new release, it would make my life quite a bit easier if that were possible. Thank you!

[2021-02-18 12:34] yunhaoling commented on #209
hey @bluca , I have merged the PR removing all the executables: https://github.com/Azure/azure-uamqp-python/pull/211

We're planning to do a uamqp v1.2.15 release on March1 as we also want to address some other issues in the next release.
would that be acceptable to you to wait for one more week?

[2021-02-18 12:36] bluca commented on #209
sure that would be fine - thank you very much!

[2021-02-18 12:36] #209 closed

[2021-02-22 08:55] odidev commented on #191
@yunhaoling, please let me know if anything is required from my side. Thanks.

[2021-02-24 18:05] yunhaoling opened #212 "Investigate AmqpClient accepting a list of str for the desired capabilities"
In the current world, AmqpClient only accepts AMQPValue for the desired capabilities: https://github.com/Azure/azure-uamqp-python/blob/ec32de987dab23985f83a705a74ed34bb66bdcde/uamqp/client.py#L834-L838

However, this means the upper applications have to construct the AMQPSymbol/AMQPArray/AMQPValue by themselves.

It would be nice if we could considering adding the support to accept just a list of

[2021-03-07 17:10] nilsga opened #216 "Refresh token loop with eventhub managed identity"
- **UAMQP Package Version**: 1.2.15
- **Operating System**: Linux
- **Python Version**: python:latest docker image

**Describe the bug**
When using with managed identity and eventhub, the producer client aparently get's into a token refresh-loop. I don't really know why this is happening, but the only explanation I can think of is that the Managed Identity implementation returns a cached token, wi

[2021-03-24 11:46] odidev commented on #191
@yunhaoling, please let me know if I can help you building/uploading aarch64 wheels. Thanks

[2021-03-24 15:09] yunhaoling commented on #191
hey @odidev , thanks for checking.

Apologize for missing the thread here -- I have been working on some urgent bug fixing issues these days.
But the arm64 wheel support is always on my mind, I'll probably have some time to look next week.

Our plan in general on this is to
1. Build the wheels locally by the information you provided on our dev boxes (thanks again)
2. To investigate how to integrat

[2021-03-25 02:06] swathipil opened #221 "Pickle Message"
Add `__setstate__` and `__getstate__` methods to `Message` so that messages on `EventData` can be serialized. All public properties must be serialized. This is the first step to be taken for the following issue: https://github.com/Azure/azure-sdk-for-python/issues/15772.

[2021-03-29 16:28] gustavohwulee commented on #182
Used @simmel tip and managed to work this way:

[code]

[2021-03-30 17:41] simmel commented on #182
Oh, that's much less hacky @gustavohwulee ! Thanks for sharing!

Really want this fixed upstream though.

[2021-04-02 12:18] #221 closed

[2021-04-05 06:40] yunhaoling opened #227 "Drop Python 3.5"
Drop Python 3.5 in the next release.

- test.yml
- client.yml
- setup.py
- history.rst

[2021-04-28 13:50] #227 closed

[2021-05-07 19:21] swathipil opened #236 "EventHub tests for MacOS 3.6 are flaky, result in seg fault"
In `.azure-pipelines/test.client.live.yml` file, the EH MacOS 3.6 tests randomly fail with the following error:
```https://dev.azure.com/azure-sdk/internal/_build/results?buildId=879215&view=logs&j=60fabaf3-026b-5af2-4361-8c2f61ed3782&t=e6ce3452-b422-577e-2b62-47f45bc30f55&l=325```

![image](https://user-images.githubusercontent.com/76007337/117498514-c0a00100-af2e-11eb-9bec-9f14ab157480.png)

[2021-05-11 15:49] swathipil opened #237 "UAMQP live test pipeline - update SDK cloned branch"
In `.azure-pipelines/client.test.live.yml`, update the script line which clones the SDK repo so that the branch that is cloned is read in from a variable. If the variable is NULL, default should be to clone the master branch.

[2021-06-03 17:57] yunhaoling opened #238 "Improvement on bearer token type support with azure-identity"
## Problem:

If users want to use azure-identity for authenticating the endpoint with uamqp, `JWTTokenAuth` shall be used, but if the token type is not of `jwt`, e.g. `bearer`, then users would need to call `update_token`  by themselves to initially set `self.token`.

only b'jwt' would be handled internally -- [CBSAuthMixin impl](https://github.com/Azure/azure-uamqp-python/blob/master/uamqp/authen

[2021-06-29 11:02] #238 closed

[2021-06-30 11:24] odidev commented on #191
@yunhaoling, Could you please let me know if there is any update regarding this?

[2021-07-05 15:54] adss-poc opened #253 "Reappear - eventhub: the program crashes if producer not use with"
eventhub: the program crashes if producer not use with with
We are using version uampq library v1.2.15 (python v3.9.2) and we are still having the same issue
I saw in the below link it was fixed as part of uampq library v1.2.5

https://github.com/Azure/azure-sdk-for-python/issues/8404

Please check the below error trace of the crash.
2021-06-29 06:37:06,222 :: INFO :: push_event :: 93 :: Create a

[2021-08-17 22:53] yunhaoling commented on #253
hey @adss-poc , sorry for missing the thread here.
Could you share me with the code snippets which could reproduce the issue?

[2021-08-17 23:00] yunhaoling commented on #191
hey @odidev , sincerely apologize for the late response. I was trying to use qemu to simulate a ARM 64 machine but the progress is slow.

On the other side, instead of supporting multiple platforms by building/compiling wheels, our team endeavors to get a pure python implementation of the amqp library which could help us get rid of this situation.

I believe the pure python version is the long-ter

[2021-08-18 11:16] bluca opened #264 "Latest release tag has wrong format - 1.4.1 instead of v1.4.1"
Release tags until v1.4.0 were prefixed with `v`, but 1.4.1 is not. This breaks scripts and ordering. Can you please push a v1.4.1 too?

[code]

[2021-08-18 11:20] bluca opened #265 "Build fails with GCC 11"
[code]

[code]

This is https://github.com/Azure/azure-c-shared-utility/issues/535 which was fixed in the vendored dependency by https://github.com/Azure/azure-c-shared-utility/pull/537

[2021-08-18 18:34] erewok commented on #30
Hello, I came upon this thread today with version `1.4.1` of uamqp in my project. I'm running tests with pytest and I see loads of these messages:

[code]

I have code publishing to an Azure EventHub that is copied directly from their example:

[code]

However, if I comment out this line:

[code]

The log messages go away. It looks like `EventDataBatch` class is importing `BatchMessage` from this

[2021-08-27 14:54] vishnureddy17 opened #266 "Outdated doctring for SendClient"
It seems like the docstring for `SendClient` is outdated, as I'm able to use `uamqp.authentication.JWTTokenAuth`, which is not included in this list:

[code]

[2021-08-30 15:52] rringham commented on #15
Is there an update on this? It's still not possible to directly `pip install azure-service-bus` on a Raspberry Pi without apparently jumping through a bunch of hoops, and that's not sustainable for RPi devices.

[2021-09-10 22:33] yunhaoling commented on #266
hey @vishnureddy17 , thanks for the feedback. I'll update the docstring!

[2021-09-20 16:32] yunhaoling opened #273 "uAMQP livetest pipeline integrated EH/SB tests verification/fix"
verify whether EH/SB is using the right code in the PR to generate wheels for EH/SB live tests, and fix if not.

for context, please check the PR:
https://github.com/Azure/azure-uamqp-python/pull/272

[2021-09-21 16:57] yunhaoling opened #275 "CI Missing due to travis-ci.org ceased"
Since June 15th, 2021, the building on travis-ci.org is ceased. Please use travis-ci.com from now on.

- Do we have an official account (azure-sdk) for the travis-ci?
- Do we still want to use travis-ci or we should migrate to use our own CI?\

I could create my own travis job which is hooked with my account:
https://app.travis-ci.com/github/yunhaoling/azure-uamqp-python/builds/238166486

[2021-09-22 12:08] major opened #276 "Compile fails w/OpenSSL 3.x on Fedora 36"
- **UAMQP Package Version**: 1.4.2
- **Operating System**: Fedora 36 (Rawhide)
- **Python Version**: 3.10.0rc2

**Describe the bug**
Fedora 36 contains [OpenSSL 3|https://fedoraproject.org/wiki/Changes/OpenSSL3.0] and uamqp fails to compile with it. (Full error pasted below.)

**To Reproduce**
Steps to reproduce the behavior:
1. `podman run --rm -it registry.fedoraproject.org/fedora:rawhide`
2. In

[2021-09-22 12:38] major commented on #276
If you're in a hurry and you want to reproduce the issue quickly from Fedora 36, just build this container using `docker` or `buildah`:

[code]

[2021-09-25 01:08] yunhaoling commented on #266
hey @vishnureddy17 , we have updated the docstring for SendClient (as well as other clients that takes JWTTokenAuth now), thanks for your feedback.

[2021-09-25 01:08] #266 closed

[2021-09-28 22:54] yunhaoling commented on #265
thanks @bluca for the reference! we will catch up with the underlying c lib when we have cycles.

(we are aware that we're behind the c lib, already having an tracking issue: https://github.com/Azure/azure-sdk-for-python/issues/19576)

[2021-09-28 23:23] yunhaoling commented on #276
thanks for reaching out. openssl 3.0 is fairly new, we will take a look into it.

[2021-09-30 10:19] bluca commented on #265
@yunhaoling thanks. Please note that GCC 11 was released months ago and it's starting to become the default compiler in many distributions, like Ubuntu 21.10, so it would be good if a fix could be expedited. Perhaps it would be a good idea to stop bundling that library, so that it can be updated independently.

[2021-09-30 11:13] major commented on #276
Thanks, @yunhaoling! 🎉

[2021-09-30 20:14] jimbobbennett opened #278 "Symbol not found: _SASToken_CreateString on Apple Silicon with Azure Functions"
- **UAMQP Package Version**: 1.2.14
- **Operating System**: macOS Big Sur on Apple M1
- **Python Version**: 3.9

**Describe the bug**
When importing the `azure.iot.hub` package into an Azure Functions Project, the application throws an `ImportError`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Azure Functions project
2. Add `azure-iot-hub` to the `requirements.txt` file

[2021-10-15 08:30] ElAouaneHamza opened #281 "Azure Function Service Bus ImportError: cannot import name 'c_uamqp' from partially initialized module 'uamqp'"
- **UAMQP Package Version**:
      - uamqp-1.4.3

- **Operating System**:

    - ubuntu
- **Python Version**:
     - Python 3.6

**Describe the bug**
I have a Azure function app to trigger ServiceBusMessage. When the azure function starts, it fails throwing the following error:

[code]

My azure functions looks like this:

[code]

I have requirements.txt

[code]

function.json

[code]
and the host

[2021-11-01 21:38] yunhaoling commented on #281
hey @ElAouaneHamza , sorry for the late response.

I was unable to reproduce the issue on local Ubuntu (WSL2) and azure, as this is an import error, could you help verify locally that even just with the simplest `import` you will get the failure as well?

which means the azure function should be just like following:

[code]

also is it that you're developing locally or deployed into the azure clou

[2021-11-01 21:55] yunhaoling commented on #278
hey @jimbobbennett , apologize for the late response and thanks for the link to your repo.

the uamqp doesn't provide apple M1 yet (arm-based) wheel yet, we only support wheels for x86 & x86-64, which means on Apple M1, the library uamqp-python (based on uamqp-c)  will need to build itself first which requires extra dependencies.

Are you working with the Apple M1 for local development? one workar

[2021-11-01 23:07] jimbobbennett commented on #278
@yunhaoling - tried that, same error.

[2021-11-08 15:27] JrtPec opened #284 "ImportError: dlopen(...c_uamqp.cpython-310-darwin.so): mach-o file, incompatible architecture (have 'x86_64', need 'arm64e')"
I have a Mac with M1-processor, so as long as not all Python packages are published as arm64 or universal binaries I have to run Python in emulated mode under Rosetta 2.

So when I saw that uamqp was released as universal binary, I gave it a go. But it still fails like I've installed it for the wrong architecture...

- MacBook Pro M1
- macOS Monterey 12.0.1
- Python 3.10.0 installed through Brew o

[2021-11-08 16:02] SiddyP commented on #278
Hi @jimbobbennett perhaps this could work?
I develop azure functions locally and to get around import issues with uamqp I create the venv and install the dependencies using Rosetta. I haven't tried it with azure-iot-hub though.

[2021-11-10 14:27] trevors20 commented on #278
@yunhaoling, thanks for the info.  Would you know of a timeline when uamqp would support Apple M1?

[2021-11-11 14:01] djong1 commented on #281
I observe the same problem, might it be related that the function is triggered by a SB message and that we sent out a SB message and that the two are conflicting? When i remove the sent SB message part it is working on my side.

[2021-11-18 02:19] yunhaoling commented on #284
hey @JrtPec , I'm sorry to tell you that right now we don't provide binary whls for ARM architecture and we neither have the plan to support it in the near future. apologize for the inconvenience that is brought to you.

Our team is putting efforts into implementing a pure python amqp library to get rid of the complexity multi platform support.

may I ask what's your scenario with Apple M1, is it

[2021-11-18 18:39] trevors20 commented on #284
@yunhaoling , do you have a timeline on when your new library that you are building can be used?  Apple M1 is a hot topic these days and uamqp not supporting M1 blocks our tooling that we are running in production.  I.e. the workaround for building on the fly wouldn't really work for us.  Thanks for any info!!!

[2021-11-18 18:54] yunhaoling commented on #284
hey @trevors20 , thanks for reaching out and sharing the information that you're working with M1 in production.

could you tell me more about:
- are you using the uamqp library alone, or using azure-eventhub/azure-servicebus SDK which depends on Apple M1?
- "the workaround for building on the fly wouldn't really work for us.", why it doesn't work? is it because of the OS environment which missed d

[2021-12-01 03:07] jimbobbennett commented on #284
This is needed so the Azure IoT extension for the Azure CLI can run on M1 Macs. Seeing as the M1 has been out for over a year, we really should support it.

https://github.com/Azure/azure-iot-cli-extension/issues/468

[2021-12-02 14:15] JonasKs commented on #197
Hi, any status on this @yunhaoling ?
In general, containers should be allowed to crash and be restarted by k8s, but with this hanging a container will never crash and not restart properly, which is very unfortunate.

At the moment the workaround is to monitor processes with health checks, but if there is a better way to do this please let me know. (A few [suggestions on SO here](https://stackoverf

[2021-12-02 14:33] JonasKs commented on #148
Hi @annatisch, did you land on anything? :blush:

[2021-12-02 15:55] annatisch commented on #148
Hi @JonasKs!
We are currently rewriting this library in pure Python, with the first preview targeted for early 2022.
Development is progressing in this branch: https://github.com/Azure/azure-uamqp-python/tree/pyproto

Given that we are currently rebuilding from scratch - we will not be making these changes to the C-based implementation of uamqp.
So then the question becomes, will the pure Python v

[2021-12-02 21:16] JonasKs commented on #148
Awesome! Thanks for the quick reply. Good luck with the release 🚀

[2021-12-07 02:00] yunhaoling opened #291 "Infinite loop in async sending"
In edge cases (e.g., race condition), async send would fail into infinite loop.
This happens when self.do_work_async() is always returning False (e.g, self._shutdown is True):

https://github.com/Azure/azure-uamqp-python/blob/db2031465ee3325ca3493f9aeb137dc187bdb037/uamqp/async_ops/client_async.py#L637-L638

This is a bug and we should fix it -- duplicate what we're doing in the sync implementatio

[2021-12-08 01:52] yunhaoling commented on #197
hey @JonasKs , I have a PR out for the update, I'm going to test it and if everything works fine it will be shipped in our next release.

[2021-12-08 02:02] yunhaoling commented on #276
hey @major , apologize for the late update.

As you might know, uamqp is depending on a C library: https://github.com/Azure/azure-c-shared-utility and from what I learned it doesn't yet support OpenSSL3.0, discussion could be found here: https://github.com/Azure/azure-c-shared-utility/discussions/566.

I feel sorry that currently there's nothing I could with the underlying C code except waiting fo

[2021-12-08 12:41] major commented on #276
@yunhaoling Thanks for the reply! I'm packaging azure-cli on Fedora and this is one of the requirements within azure-cli or one of the Python SDKs. In the meantime, I can link to OpenSSL 1.1 and that works.

[2021-12-13 16:35] robcowie commented on #191
Hi. Is the decision of the maintainers _not_ to provide pre-compiled wheels for `aarch64`?

I can certainly understand why if you are aiming to move to a pure python implementation but right now it causes difficulty when installing in potentially contained environments (i.e. a docker image without build tools) on arm hardware (i.e. new Apple gear).

[2021-12-15 18:49] yunhaoling commented on #191
hey @robcowie , we understand that the aarch64 support is wanted and we have put efforts into how it could be supported. We succeeded to manually build uamqp wheel on a M1 Apple Mac without getting too much trouble -- install cmake first and then run `pip3 install uamqp --no-binary :all` worked.

However, we depend on internal Azure Devops VMs to build binary wheels, previously there was no ARM64

[2021-12-15 19:09] robcowie commented on #191
Thanks for the info @yunhaoling

[2021-12-17 19:46] rakshith91 opened #296 "get rid of Py2.7 referneces in the code."

[2021-12-21 02:26] yunhaoling commented on #296
Anna: It's not just removing legacy code - I would like to see us use Py3 method signatures etc. This should be fully type-hinted. The prototype wasn't for the interests of time - but we have no reason not to type hint all new code that gets added
 like 1

Fortunately, the protocol layer is very easy to type

[2021-12-21 02:26] yunhaoling opened #299 "[pyproto] Embracing Python 3"
Anna: It's not just removing legacy code - I would like to see us use Py3 method signatures etc. This should be fully type-hinted. The prototype wasn't for the interests of time - but we have no reason not to type hint all new code that gets added
 like 1

Fortunately, the protocol layer is very easy to type

[2022-01-04 18:03] #291 closed

[2022-01-11 07:54] JonasKs commented on #197
Hi @yunhaoling , we [patched our containers](https://github.com/Intility/metroid/releases/tag/1.2.3) to use [`azure-servicebus==7.4.0`](https://github.com/Intility/metroid/blob/main/pyproject.toml#L36), which again forces version `1.5.0` of this package.

We experienced an exception tonight, and our container finally properly crashed and restarted as expected. It was no longer in a zombie state.

[2022-01-22 07:14] askpatrickw commented on #284
I can also confirm I am hitting this on my M1 Mac...

If you end up here. The workaround is to run commands in the Azure Cloud Shell.
https://docs.microsoft.com/en-us/azure/cloud-shell/overview

[2022-01-23 10:16] dishults commented on #284
What worked for me was `brew install cmake` and adding `uamqp --no-binary uamqp` to the `requirement.txt` file before azure packages or just installing it separately `pip3 install uamqp --no-binary uamqp` and then installing the rest.
Though, native support would still be much appreciated :)

[2022-01-24 23:35] karishma-kohli commented on #284
@dishults could you please elaborate more on the steps you did after running `brew install cmake`? I am not heavily into python but I am stuck with this error while running ansible jobs.

Appreciate your help.

[2022-03-11 22:56] yunhaoling commented on #197
closing the issue as it has already been fixed

[2022-03-11 22:56] #197 closed

[2022-03-15 16:59] yunhaoling commented on #265
hey @bluca , we have updated the c lib dependency in Jan, please test out the latest code. thanks for your patience!

I'm closing the issue now, but feel free to reopen if the issue persists.

[2022-03-15 17:00] yunhaoling commented on #253
hey @adss-poc , hope you are keeping well!

I'm excited to announce that we redesigned our Python EventHubs SDK to not rely on any C code anymore, it’s now entirely implemented in Python [(5.8.0a3 - pypi)](https://pypi.org/project/azure-eventhub/5.8.0a3/). We’d love to get your feedback and perspective on this new version, as we believe you are using this SDK in an environment that would benefit f

[2022-03-15 17:02] yunhaoling commented on #166
hey @JackyXu866 , hope you're keeping well!

are you a user of the azure-eventhub SDK? If you're an azure-eventhub user, then we have good news for you :)

I'm excited to announce that we redesigned our Python EventHubs SDK to not rely on any C code anymore, it’s now entirely implemented in Python [(5.8.0a3 - pypi)](https://pypi.org/project/azure-eventhub/5.8.0a3/). We’d love to get your feedback

[2022-03-15 17:06] #166 closed

[2022-03-15 20:06] annatisch commented on #166
Thanks @simmel,
Indeed the intention is that the AMQP 1.0 implementation itself is going pure-python :)
While there will be a couple of Azure-specific features, the new library will follow the generic AMQP 1.0 specification.
However regarding the behaviour of the new library, one of our key considerations is backwards compatibility with our Azure SDKs (that is, compatibility with behaviour/errors/

[2022-03-16 09:32] simmel commented on #166
Thank you @annatisch ! Dogfooding is always the best so it sounds like you're doing the right thing!

I'll try it out on some personal sideproject and let you know if I find something. Looks like the docs might not be up to date (at least the README) but the tests where up to date (and probably not even changed that much since you'll try to keep API compatibility) so I can start there.

Looking fo

[2022-03-17 22:42] GuMiner commented on #278
I was running into this problem even when building directly from the source. I had to add the following line in `setup.py` on line 172 when `cmake`ing `azure-uamqp-c`, so that `azure-uamqp-c` would be built universal.

[2022-03-21 13:36] davidcroda commented on #191
Is this still on the roadmap?

[2022-03-22 01:45] yunhaoling commented on #191
hey @davidcroda , yes, it's still on our track. We're still monitoring the azure devops agent support waiting for its public support.

are you looking for the uamqp library itself or you're using azure-eventhubs/azure-servicebus python sdk on aarch 64(arm64)?

the reason for asking you the question is because we're also working on pure python based amqp library which is being publicly developed in

[2022-04-13 08:52] yunhaoling commented on #122
as dropping off python 2.7, we can and have already updated to setup.py to adopt VS2019 recently.

[2022-04-13 08:52] #122 closed

[2022-04-13 08:54] yunhaoling commented on #205
it's not an issue anymore as we dropped off python2.7 and 3.5

[2022-04-13 08:54] #205 closed

[2022-04-15 17:33] #149 closed

[2022-04-15 17:33] #151 closed

[2022-04-15 17:33] #93 closed

[2022-04-15 17:33] #105 closed

[2022-04-15 17:34] #184 closed

[2022-04-15 18:41] #299 closed

[2022-04-15 18:41] #296 closed

[2022-04-15 18:47] #275 closed

[2022-04-15 19:09] #116 closed

[2022-04-15 21:41] yunhaoling commented on #43
sorry for this very late update, but we have already got websocket supported for uamqp and azure-eventhub .

for azure-eventhub library, set `transport_type` to `azure.eventhub.TransportType.AmqpOverWebsocket` to enable websocket connection during client creation: [TransportType](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py#

[2022-04-15 21:41] #43 closed

[2022-04-16 00:11] yunhaoling commented on #86
apologize for this very late update after almost 3 years, but I believe the segmentation fault has already been fixed in the latest aure-eventhub & uamqp releases.

It would be great if you could give a try on the latest azure-eventhub which is available on [pypi](https://pypi.org/project/azure-eventhub/).

You might want to check the [migration guide](https://github.com/Azure/azure-sdk-for-python

[2022-04-16 00:13] yunhaoling commented on #55
Apologize for this very late update on the issue, the latest azure-eventhub v5 has built-in retry mechanism which will recover from LinkDetach error.

It would be great if you could give a try on the latest azure-eventhub which is available on [pypi](https://pypi.org/project/azure-eventhub/).

You might want to check the [migration guide](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk

[2022-04-19 23:05] yunhaoling opened #320 "[pyamqp] keep thread alive not started error"
in uamqp, we had the customer PR for addressing thread not started error: https://github.com/Azure/azure-uamqp-python/pull/289
we should apply the same to pyamqp

[2022-06-13 19:24] jiapei-nexera commented on #276
Looking forward to **openssl3** support

[2022-06-21 10:38] atlid8 opened #324 "Can't install the package on Ubuntu virtual machine though M1"
- **UAMQP Package Version**:  1.5.3
- **Operating System**: Ubuntu
- **Python Version**: 3.8.13

**Describe the bug**
Can't pip install UAMQP on Ubuntu QEMU thought M1

**To Reproduce**
Steps to reproduce the behavior:
1. apt-get update
2. apt-get install -y build-essential libssl-dev uuid-dev cmake libcurl4-openssl-dev pkg-config python3-dev python3-pip
2.  pip3 install uamqp --no-binary :all:

*

[2022-06-22 01:04] atliunnsteinsson commented on #324
I can install under local python 3.10 but not on env running 3.8

[2022-06-23 20:13] vtechev opened #325 "ImportError - Possible Circular Import"
- **UAMQP Package Version**:
1.5.3
- **Operating System**:
Ubuntu
- **Python Version**:
3.9
**Describe the bug**
I have an azure function app which uses the asynchronous event hubs client library for python. The function fails, and in the logs I see the following:
`Result: Failure Exception: ImportError: cannot import name 'c_uamqp' from partially initialized module 'uamqp' (most likely due to a c

[2022-06-24 18:29] scbedd opened #328 "Rebuild ARM Docker Image w/ out External Dependencies"
Right now, we pull from this repository: `resin/raspberrypi3-debian:wheezy`
However, not only has that repo been deprecated, but we need to consume from purely internal docker sources where possible.  This means that we will need to build it ourselves.

Details:

- Request retagged ARM images available on mcr
- [Target Image For Rebuild](https://github.com/Azure/azure-uamqp-python/blob/master/util

[2022-06-24 18:31] scbedd opened #329 "Rebuild ManyLinux1_64bit_patch dockerfile w/out external dependencies"
The [dockerfile](https://github.com/Azure/azure-uamqp-python/blob/master/utils/ManyLinux1_64bit_patch/Dockerfile) takes a dependency on quay.io.

Need to rebuild ourselves. Other references:

- [Python package authority build folder](https://github.com/pypa/manylinux/tree/main/docker)

We are going to need to build the image ourselves.

[2022-06-24 19:05] microsoft-github-policy-service[bot] opened #331 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-06-28 21:40] domspotfront commented on #325
I am facing the same issue. I am able to import and run locally with no issue, however when deploying to my azure function app I get the same circular import error.

[2022-07-08 15:40] major commented on #276
Red Hat Enterprise Linux (RHEL) 9 [made the move](https://www.redhat.com/en/blog/experience-bringing-openssl-30-rhel-and-fedora) to OpenSSL 3.0 as well and I'm unable to package uamqp there, either. That affects CentOS Stream 9, Rocky, Alma, etc.

[2022-07-18 17:32] vtechev commented on #325
I have been able to resolve this issue. It's not the result of a bug in UAMQP, but in the deployment method. "local" deployments fail to correctly install some libraries including UAMQP for reasons that have something to do with binaries and wheels.

The solution is to do a "remote" deployment. How to do this depends on how you're deploying in the first place.

For those using Azure DevOps pipelin

[2022-07-28 19:11] #331 closed

[2022-08-02 13:59] dustinchilson commented on #324
If you can, drop the ubuntu vm down to 20.04, this is due to 22.04's use of OpenSSL 3.0

https://github.com/Azure/azure-uamqp-python/issues/276

https://github.com/Azure/azure-c-shared-utility/discussions/566

[2022-08-09 19:53] dustinchilson commented on #276
`azure-c-shared-utility` merged support https://github.com/Azure/azure-c-shared-utility/pull/604
as did
`azure-uamqp-python`, https://github.com/Azure/azure-uamqp-c/pull/423

[2022-08-26 19:46] kashifkhan opened #334 "Python 3.11 issues for uaqmp"

[2022-08-30 11:40] tonyjune commented on #278
I am facing the [same issue](https://stackoverflow.com/questions/73499286/python-error-when-importing-azure-eventhub-on-mac-monterey/73522403#73522403). Anything we can do as a temporary fix?

[2022-09-08 00:15] trevors20 commented on #284
@yunhaoling / @dishults , I'm not sure I can use those workarounds in my environment.  What I have built is an Azure CLI Extension.  I just wrap up the python code and all of it's dependencies (like uamqp) into a whl package.  The whl package is installed as an extension on Azure CLI and it "just works" for the platforms that we run the extension on.   Except for the M1 platform.
As part of bundli

[2022-09-09 13:31] jannisrelakis commented on #325
@vtechev this was the only thing that helped me in the whole wide internet. Thanks!

This is how it looks like in Github Actions:
`      - name: Login via Azure CLI
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy function
        shell: bash
        run: |-
          wget -q https://packages.microsoft.com/config/ubuntu/20.04/

[2022-09-15 03:12] EpicWink commented on #334
Seems to fail to build due to missing `longintrepr.h` during build of 'build/temp.linux-x86_64-cpython-311/uamqp/c_uamqp.o' (from 'uamqp/c_uamqp.c')

Reproduction:
[code]

Quick google search gives possibly relevant:
* aio-libs/aiohttp#6600
* cython/cython#4461

[2022-09-21 07:25] frenck commented on #334
Build output:

[code]

[2022-09-21 13:34] kashifkhan commented on #334
Thanks for this @EpicWink and @frenck ...Looks like the cython requirement needs to be bumped up to fix this.

[2022-09-21 14:22] jooskesters commented on #278
pip uninstall uamqp
pip install uamqp --no-binary uamqp

[2022-09-22 17:11] Gunni commented on #276
Hey,

`uamqp-1.6.0` from pip still affected.

[2022-09-27 12:56] major opened #340 "1.6.0 tag missing in git repository"
It looks like version 1.6.0 made it to PyPi, but the tag for 1.6.0 is missing from the git repository. Could you add a tag/release? Thanks!

[2022-10-04 21:57] kashifkhan commented on #340
Hi @major, sorry for the delay, I have gone ahead and created the tag/release [here](https://github.com/Azure/azure-uamqp-python/releases/tag/v.1.60)

[2022-10-04 22:11] major commented on #340
Thank you!

[2022-10-04 22:11] #340 closed

[2022-10-13 22:43] deeTEEcee commented on #284
lots of m1 users these days. bump.

[2022-10-19 15:47] kashifkhan commented on #334
Wanted to give yall an update, I'm working on generating wheels for 3.11 in this [feature branch](https://github.com/Azure/azure-uamqp-python/tree/feature/build-using-cibuildwheel). Bumping up the `cython` was indeed the fix, the version we had pinned to had a bug which was fixed subsequently. I am able to build wheels so a simple workaround is to just bump up the version to 0.29.32 to get yall mo

[2022-10-26 13:13] potiuk commented on #334
Cool if there is a help you need on that - we are looking forward to it in Apache Airflow too

I know it is eaarly (Python 3.11 has just been released yesterday) but we are hoping in Apache Airflow to a much faster cycle of adding new Python releases - especially that Pyhon 3.11 introduces huge performance improvements (25% is the average number claimed) due to a very focused effort to increase si

[2022-10-26 13:21] kashifkhan commented on #334
Hi @potiuk, Im the in the process of running a few tests on uamqp and making sure everything is working the way we intend it to be, so that everyone has a smooth experience whilst using 3.11 :) We are also quite excited to see the effect of 3.11 on our code base.

As you know macOS runners on Github added 3.11 to their images just a few hours ago, so I need to go through those and some internal ch

[2022-10-27 22:21] kashifkhan commented on #334
hello everyone, we just published version uamqp 1.6.3 that has support for py311

[2022-10-27 22:26] potiuk commented on #334
WOOOHO!!!

[2022-10-28 15:28] kashifkhan commented on #329
Closed with #339, building wheels with cibuildwheel

[2022-10-28 15:28] #329 closed

[2022-10-28 15:28] #328 closed

[2022-10-28 15:29] kashifkhan commented on #180
Closed with #339, building wheels with cibuildwheel using manyLinux2014

[2022-10-28 15:29] #180 closed

[2022-10-28 15:32] kashifkhan opened #346 "Update Ubuntu VM to 20.04"
The live test vm runs on ubuntu 18.04 which will be deprecated next year. It should be using 20.04

[2022-10-28 15:33] kashifkhan opened #347 "Disable pipeline in Github Actions"
Now that we have cibuildwheel integrated with azure pipelines, we dont need wheels generated using github actions.

[2022-11-11 10:24] pgajdos opened #348 "six usage is redundant"
It seems you do no longer support python 2, so I guess six dependency could be removed?

[2022-11-11 14:26] kashifkhan commented on #348
Hi @pgajdos , thank you for your feedback. We do have an action item to remove six dependency in a future release. Thanks